body,
.grid {
    display: flex;
    flex-flow: row wrap;
}

body{
    padding: 20px;
}

 body >* {
    display: block;
    padding: 0;
    flex: 1 100%;
    min-width: 300px;
    max-width: 620px;
}

header {
    order : 2;
}

main {
    order: 1;
}

footer {
    order: 3;
}

@media all and (min-width: 640px) {
    body >* {
        margin: auto;
        max-width: 740px;
        min-width: 620px;
    }

    header {
        order : 1;
    }

    main {
        order: 2;
    }

    .grid-header > * {
        flex: 2 50%;
    }

    .grid-footer > * {
        flex: 3 33%;
    }

    .grid-footer > :nth-child(0n+1) {
        text-align: left;
    }
}
