body,
.grid {
    display: flex;
    flex-flow: row wrap;
}

body{
    padding: 40px;
}

 body >* {
    display: block;
    padding: 0;
    flex: 1 100%;
    min-width: 240px;
    max-width: 620px;
}

@media all and (min-width: 640px) {
/*    body{
        padding: 20px;
    }*/

    body >* {
        margin: auto;
        max-width: 740px;
        min-width: 620px;
    }
    .grid-header > * {
        flex: 2 50%;
    }

    .grid-footer > * {
        flex: 3 33%;
    }

    .grid-footer > nav {
        order : 2;
    }

    .grid-footer > address {
        order : 3;
        text-align: right;
    }

    .grid-footer > small {
        order : 1;

    }

    .grid-footer > :nth-child(0n+1) {
        text-align: left;
    }
}
