:root {
    --black: rgba(17, 17, 17, 1);
    --grey: rgba(35, 35, 35, 1);
    --blue: rgba(213, 232, 243);
    --lightGrey: rgba(138, 138, 138, 0.5);
    --white: rgba(255, 255, 255, 1);
    --red: rgba(200, 53, 57, 1);
    --paleGrey: rgba(128, 128, 128, 0.08);
    --column-width: 35em;
    --heading-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    --body-font: "Menlo", "Monaco", "Lucida Console", "Liberation Mono", "DejaVu Sans", "Mono", "Bitstream Vera Sans Mono", "Courier New", "monospace", serif;
}

/* Import utility classes */
/*
Normalise - Vincent P - Bespoke
*/

* {
    box-sizing: border-box;
}

:root {
    font-family: var(--body-font);
    background-color: var(--white);
    color: var(--black);
    font-size: 12px;
    text-rendering: geometricPrecision;
}

::selection {
    background-color: var(--red);
    color: var(--white);
}

html {
    text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
}

body {
    margin: 0;
    padding: 0;
}

abbr {
    text-transform: uppercase;
    font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "smcp" 1, "c2sc" 1;
}

time {
    font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0;
}

pre {
    overflow-x: auto;
}

pre,
kbd,
samp,
code {
    font-feature-settings: "kern" 0, "liga" 0, "calt" 1, "dlig" 0, "pnum" 0, "tnum" 1, "onum" 0, "lnum" 1, "zero" 1;
}

sup {
    font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 0, "sups" 1;
}

sub {
    font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 0, "subs" 1;
}

sub,
sup {
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

cite,
em,
var,
address,
dfn {
    font-style: normal;
}

pre {
    margin: 0;
    padding: 0;
}

blockquote {
    border-left: 4px solid var(--red);
    padding: 0 0 0 10px;
    margin: 0;
}

figure {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
time {
    font-family: var(--heading-font);
    color: var(--black);
    max-width: var(--column-width);
    font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 1;
}

h1 {
    margin: 0 0 20px 0;
    text-transform: uppercase;
    font-size: 1.84rem;
}

h2 {
    margin: 40px 0 10px 0;
    font-size: 1.2rem;
    line-height: 1.4;
}

li,
p {
    color: var(--grey);
    line-height: 1.6;
    hyphens: none;
    font-kerning: normal;
}
.clearfix::before,
.clearfix::after {
    display: table;
    content: " ";
}

.clearfix::after {
    clear: both;
}

/* Grid */
body,
.grid {
    display: flex;
    flex-flow: row wrap;
}

body {
    padding: 40px;
}

body > * {
    display: block;
    padding: 0;
    flex: 1 100%;
    min-width: 240px;
    max-width: 620px;
}

.grid-header > * {
    flex: 2 50%;
}

/* Layout CSS */
img {
    border-style: none;
    width: 100%;
    max-width: 35em;
}

figure {
    max-width: var(--column-width);
    line-height: 1.6;
    margin-bottom: 20px;
}
header {
    position: relative;
}

header {
    font-family: var(--heading-font);
    text-transform: uppercase;
    font-size: 10px;
}

header .grid > * {
    margin-bottom: 30px;
}

.siteNav {
    float: right;
}
footer {
    margin-top: 20px;
    padding: 0 0 40px 0;
}

footer::before {
    content: '';
    display: block;
    padding: 10px 0 0 0;
    width: calc(100% - 40px);
    border-top: 1px solid var(--lightGrey);
}

footer .grid > * {
    display: block;
    width: 100%;
    margin-bottom: 20px;
}

footer * {
    font-family: var(--heading-font);
    text-transform: uppercase;
    font-size: 10px;
    color: var(--grey);
}

footer ul {
    margin: 0;
    padding: 0;
}

footer li {
    display: inline-block;
    list-style: none;
}

footer li::after {
    display: inline-block;
    margin: 0 2px 0 4px;
    content: "/";
}

footer li:last-child::after {
    content: none;
}
.siteNav ul {
    margin: 0;
    padding: 0;
}

.siteNav li {
    display: inline-block;
    list-style: none;
}

.siteNav li::after {
    display: inline-block;
    margin: 0 2px 0 4px;
    content: "/";
}

.siteNav li:last-child::after {
    content: none;
}
article {
    position: relative;
    z-index: 2;
}

article ul,
article ol {
    margin: 0 0 20px 0;
    padding: 0;
}

article li {
    margin-bottom: 3px;
    max-width: var(--column-width);
}

article ul ul li,
article ol ol li {
    margin-top: 7px;
}

article p {
    margin: 0 0 20px 0;
    max-width: var(--column-width);
}

.companyDetails {
    background-color: var(--blue);
    padding: 10px;
    margin-bottom: 10px;
    font-size: 0.9rem;
}

.companyDetails > p {
    margin-bottom: 5px;
    max-width: initial;
}
pre {
    margin-bottom: 20px;
}

pre > code {
    padding: 10px;
    border-radius: 0;
    border-left: 4px solid var(--red);
    background-color: var(--paleGrey);
    color: var(--grey);
    font-weight: 900;
}

code {
    display: inline-block;
    background-color: var(--paleGrey);
    color: var(--grey);
    padding: 0 5px 0 5px;
    line-height: 1.8;
    border-radius: 3px;
}
a {
    color: inherit;
    padding: 0.2rem;
}

a:link {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

a:visited {
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}

a:focus {
    color: var(--white);
    background-color: var(--red);
    text-decoration: none;
    transition: 0.2s;
    outline: none;
}

@media all and (min-width: 640px) {

    :root {
        font-size: 15px;
    }

    h1 {
        font-size: 2rem;
    }

    body > * {
        margin: auto;
        max-width: 740px;
        min-width: 620px;
    }

    .grid-footer > * {
        flex: 3 33%;
    }

    .grid-footer > nav {
        order: 2;
    }

    .grid-footer > address {
        order: 3;
        text-align: right;
    }

    .grid-footer > small {
        order: 1;
    }

    .grid-footer > :nth-child(0n+1) {
        text-align: left;
    }

    header {
        margin-bottom: 50px;
    }

    .next-prev ul {
        text-align: center;
    }

    .siteNav ul {
        float: right;
    }
}

@media print {

    body {
        color: #000;
        background: #fff;
    }

    body,
    article {
        display: block;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    article p {
        max-width: 100%;
    }

    header,
    footer {
        display: none;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }

    img {
        max-width: 100% !important;
    }

    ul,
    img {
        page-break-inside: avoid;
    }

    article a {
        font-weight: bolder;
        text-decoration: none;
    }

    article a[href^=http]::after {
        content: " <" attr(href) "> ";
    }

    article a[href^="#"]::after {
        content: "";
    }

    @page {
        margin: 2cm;
    }
}
