.dn {
    display: none;
}

.db {
    display: block;
}

.dib {
    display: inline-block;
}

.df {
    display: flex;
}

.dg {
    display: grid;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden:active,
.visuallyhidden:focus {
    clip: auto;
    height: auto;
    margin: auto;
    overflow: visible;
    position: static;
    width: auto;
    display: block;
    text-align: center;
}
