<!DOCTYPE html>
<html lang="en">
    <head>
        {% include meta.html %}
    </head>

    <body itemscope itemtype="http://schema.org/Blog">
        {% include header.html %}

        <main itemtype="http://schema.org/CreativeWork">
            <article itemscope itemprop="about">
                <h1 itemprop="person">{{ page.title }}</h1>
                {% include two-column-grid.html %}
            </article>
        </main>

        {% include footer.html %}
        {% include tracking.html %}
    </body>
</html>
