<!DOCTYPE html>
<html lang="en">
    <head>
        {% include meta.html %}
    </head>

    <body itemscope itemtype="http://schema.org/WebPage">
        {% include header.html %}
        {% include nav.html %}

        <main role="main" class="container">

            <article itemscope itemtype="http://schema.org/CreativeWork">
                <h1 itemprop="headline">{{ page.title }}</h1>

                <time itemprop="dateCreated" datetime="{{ post.date | date: "%Y-%m-%d" }}">
                    {% assign d = page.date | date: "%d" | plus:'0' %}
                    {{ page.date | date: "%B" }}
                    {% case d %}
                        {% when 1 or 21 or 31 %}{{ d }}<sup>st</sup>
                        {% when 2 or 22 %}{{ d }}<sup>nd</sup>
                        {% when 3 or 23 %}{{ d }}<sup>rd</sup>
                    {% else %}
                        {{ d }}<sup>th</sup>
                    {% endcase %}
                    {{ page.date | date: "%Y" }}
                </time>

                <div class="grid-row">
                    <div class="column-two-thirds">
                        {{ content }}
                    </div>

                    {% ifhascontent aside %}
                    <aside class="column-one-third">
                        {% contentblock aside %}
                    </aside>
                    {% endifhascontent %}
                </div>
            </article>

            {% include next-prev.html %}
        </main>

        {% include footer.html %}
        {% include tracking.html %}
    </body>
</html>
