<!DOCTYPE html>
<html lang="en">
    <head>
        {% include meta.html %}
    </head>

    <body itemscope itemtype="http://schema.org/WebPage">
        {% include header.html %}

        <main role="main" class="container">
            <article itemscope itemtype="http://schema.org/CreativeWork">
                <h1 itemprop="headline">{{ page.title }}</h1>
                {% include date-time-calc.html %}
                {% include two-column-grid.html %}
            </article>
        </main>

        {% include footer.html %}
        {% include tracking.html %}
    </body>
</html>
