article {
    position: relative;
    z-index: 2;
}

article ul,
article ol {
    margin: 0;
    padding: 0;
}

article li {
    margin-bottom: 7px;
    max-width: var(--column-width);
}

article ul ul li,
article ol ol li {
    margin-top: 7px;
}

article p {
    margin: 0 0 20px 0;
    max-width: var(--column-width);
}
