article {
    position: relative;
    z-index: 2;
}

h1,
time {
    display: block;
    font-family: var(--heading-font);
}

time {
    font-size: 12px;
}

h1 {
    margin : 0 0 20px 0;
    text-transform: uppercase;
    font-size: 30px;
    max-width: var(--column-width);
}

h2 {
    font-family: var(--heading-font);
    font-size: 18px;
    margin: 40px 0 10px 0;
    line-height: 1.4;
    max-width: var(--column-width);
}

article ul, ol{
    margin: 0;
    padding: 0;
}

article li {
    margin-bottom: 7px;
    max-width: var(--column-width);
}

article ul ul li {
    margin-top: 7px;
}

article p{
    margin: 0 0 20px 0;
    max-width: var(--column-width);
}

blockquote{
    border-left: 4px solid var(--red);
    padding-left: 10px;

}

@media all and (max-width: 360px) {
    h2 {
        margin:20px 0 10px 0;
    }
}
