pre {
    margin-bottom: 20px;
    background-color: var(--code-bg);
    border-radius: 4px;
    border: 1px solid var(--code-bg);
}

pre > code {
    font-family: var(--code-font);
    font-size: 13px;
    display: block;
    padding: 10px;
    border-radius: 0;
    color: var(--white);
    padding: 0.5em;
}

p > code {
    display: inline-block;
    background-color: var(--paleGrey);
}

code {
    color: var(--grey);
    padding: 0 5px 0 5px;
    line-height: 1.8;
    border-radius: 3px;
}

/* Monokai */
.highlight .ge { font-style: italic }
.highlight .gs { font-weight: bold }

.highlight .cm,
.highlight .cp,
.highlight .c1,
.highlight .cs,
.highlight .gu,
.highlight .c { color:  var(--code-comment); }

.highlight .k,
.highlight .kc,
.highlight .kd,
.highlight .kp,
.highlight .kr,
.highlight .kt,
.highlight .no { color:  var(--code-keyword); }

.highlight .hll { background-color: #49483e }
.highlight .err { color: #960050; background-color: #1e0010 } /* Error */

 .highlight .o,
.highlight .kn,
.highlight .gd,
.highlight .nt,
.highlight .ow { color:  var(--code-operator); }

.highlight .l,
.highlight .n,
.highlight .m,
.highlight .mf,
.highlight .mh,
.highlight .mi,
.highlight .mo,
.highlight .se,
.highlight .il { color:  var(--code-literal); }

.highlight .na,
.highlight .nc,
.highlight .nd,
.highlight .ne,
.highlight .nf,
.highlight .nx,
.highlight .gi { color:  var(--code-name); }

.highlight .ld,
.highlight .sb,
.highlight .sc,
.highlight .sd,
.highlight .s2,
.highlight .s,
.highlight .sh,
.highlight .si,
.highlight .sx,
.highlight .sr,
.highlight .s1,
.highlight .ss { color:  var(--code-string); }

.highlight .ni,
.highlight .nl,
.highlight .nn,
.highlight .nb,
.highlight .bp,
.highlight .vc,
.highlight .vg,
.highlight .vi,
.highlight .py,
.highlight .nv,
.highlight .w,
.highlight .p  { color:  var(--code-variable); }
