div.highlighter-rouge {
    overflow-x: auto;
    margin-bottom: 1rem;
    background-color: rgba(35, 36, 31, 1);
}

pre > code {
    display: block;
    padding: 1em;
}

p > code {
    font-size: 85%;
    display: inline-block;
    background-color: rgba(35, 36, 31, 1);
}

code {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    color: rgba(232, 232, 232, 1);
    padding: 0 5px 0 5px;
    line-height: 1.8;
}
