div.highlighter-rouge {
    overflow-x: auto;
    margin-bottom: 1rem;
    background-color: var(--grey);
}

pre > code {
    display: block;
    padding: 1em;
}

p > code {
    font-size: 85%;
    display: inline-block;
    background-color: var(--grey);
}

code {
    font-family: var(--code-font);
    color: var(--code-colour);
    padding: 0 5px 0 5px;
    line-height: 1.8;
}
