.top-0 {
    top: 0;
}

.top-fixed-50 {
    top: 50px;
}

.bottom-0 {
    bottom: 0;
}

.right-0 {
    right: 0;
}

.left-0 {
    left: 0;
}

.avatar-stack:not(:first-of-type) {
    margin-left: -20px;
}
