footer {
    font-size: 0.6rem;
    line-height: 1.2rem;

}

footer li::after {
    display: inline-block;
    margin: 0 2px 0 2px;
    content: "•";
    width: 20px;
    height: 10px;
    color: var(--white);
}

footer li:last-child::after {
    content: none;
}
