footer {
    margin-top:20px;
    padding: 0 0 40px 0
}

footer::before {
    content : '';
    display: block;
    padding: 10px 0 0 0;
    width: calc(100% -40px);
    border-top: 1px solid var(--lightGrey);
}

footer .grid > *{
    display: block;
    width:100%;
    margin-bottom: 20px;
}

footer  * {
    font-family: var(--heading-font);
    text-transform: uppercase;
    font-size: 10px;
    color: var(--grey);
}

footer ul {
    margin:0;
    padding: 0;
}

footer li {
    display: inline-block;
    list-style: none;
}

footer li::after {
    display: inline-block;
    margin: 0 2px 0 4px;
    content: "/";
}

footer li:last-child::after {
    content: none;
}

@media all and (min-width: 640px) {
    .next-prev ul{
        text-align: center;
    }
}
