/*
Control styles output by Markdown
*/

[data-type="blog"] > p {
    margin: 0 0 var(--f7) 0;
}

[data-type="blog"] > h2,
[data-type="blog"] > h3,
[data-type="blog"] > h4,
[data-type="blog"] > h5,
[data-type="blog"] > h6 {
    color: var(--red);
    font-size: var(--f5);
    margin: var(--f6) 0 0 0;
}

[data-type="blog"] > ul,
[data-type="blog"] > ol {
    margin: 0 0 var(--f5) 0;
}

[data-type="notes"] span,
.footnotes {
    padding-left: var(--f5);
    padding-right: var(--f5);
    font-size: var(--f7);
    margin-bottom: var(--f4);
}

[data-type="notes"] span {
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

[data-type="blog"].footnotes li {
    font-size: var(--f7);
    font-family: var(--font-mono);
    font-weight: 100;
    margin-bottom: var(--f7);
}

.footnotes ol {
    margin: 0;
    padding: 0 var(--f5) 0 var(--f5);
}

[data-type="blog"]a:hover {
    text-decoration: none;
}

[data-type="notes"]::before {
    content: '';
    display: block;
    width: 100%;
    height: 12px;
    padding-left: 0;
    border-top: 4px solid black;
    border-left: 4px solid black;
}
