/*
Control styles output by Markdown
*/

.e-content > p {
    margin: 0 0 var(--extra-small) 0;
}

.e-content > h2,
.e-content > h3,
.e-content > h4,
.e-content > h5,
.e-content > h6 {
    color: var(--red);
    font-size: var(--medium);
    margin: var(--small) 0 0 0;
}

.e-content > ul,
.e-content > ol {
    margin: 0 0 var(--medium) 0;
}

.highlight {
    overflow-x: auto;
}

.footnotes {
    overflow: auto;
}

.e-content .footnotes li {
    font-size: var(--extra-small);
    font-family: var(--font-mono);
    font-weight: 100;
    margin-bottom: 5px;
}

.footnotes ol {
    margin: 0;
    padding: 0;
}

.e-content a:hover {
    text-decoration: none;
}
