/*
Control styles output by Markdown
*/

.e-content > p {
    margin: 0 0 var(--f7) 0;
}

.e-content > h2,
.e-content > h3,
.e-content > h4,
.e-content > h5,
.e-content > h6 {
    color: var(--red);
    font-size: var(--f5);
    margin: var(--f6) 0 0 0;
}

.e-content > ul,
.e-content > ol {
    margin: 0 0 var(--f5) 0;
}

[data-type="notes"] span,
.footnotes {
    padding-left: var(--f5);
    padding-right: var(--f5);
}

[data-type="notes"] span {
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

.e-content .footnotes li {
    font-size: var(--f7);
    font-family: var(--font-mono);
    font-weight: 100;
    margin-bottom: var(--f7);
}

.footnotes ol {
    margin: 0;
    padding: 0 var(--f5) 0 var(--f5);
}

.e-content a:hover {
    text-decoration: none;
}

[data-type="notes"]::before {
    content: '';
    display: block;
    width: 100%;
    height: 12px;
    padding-left: 0;
    border-top: 4px solid black;
    border-left: 4px solid black;
}
