h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: -apple-system-headline, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
    max-width: 31.475rem;
}

p {
    margin: 0;
    padding: 0;
}

blockquote {
    padding: var(--extra-extra-large) 0 var(--extra-extra-large) 0 ;
    margin: 0 0 var(--extra-extra-large) 0;
    max-width: 23.612rem;
    text-align: center;
    margin: auto;
}

blockquote:after,
blockquote:before {
    content: '';
    display: block;
    background-color: var(--black);
    margin: auto;
    height: var(--extra-extra-small);
    width: var(--extra-extra-large);
}

blockquote > p {
    line-height: 1.5;
    margin: var(--extra-large) 0 var(--extra-large) 0;
}

em,
blockquote > p {
    font-style: italic;
    font-weight: 100;
}

.e-content > p {
   font-size: var(--medium);
    line-height: 1.4;
    margin-bottom:  var(--large);
}

.e-content > p:first-child{
    font-weight: 700;
}

/*code { font-size: var(--small); }

sup {
    font-size: var(--small);
    text-transform: lowercase;
    vertical-align: baseline;
}


blockquote {
    border-left: 5px solid var(--grey);
    padding: 1rem;
    margin: 0 0 20px 0;
}

blockquote > p,
figure {
    margin: 0;
}



h1 {
    margin: 0 0 1rem 0;
    font-weight: 300;
    text-transform: capitalize;
    font-size: var(--large);
}

h2 {
    margin: 0;
    padding: 0;
    font-size: var(--medium);
    font-weight: 400;
    text-transform: uppercase;
    line-height: 1.4;
}

h3 {
    margin: 0;
    font-size: initial;
    line-height: 1.4;
}

ul,
ol,
p {
    margin: 0 0 var(--medium) 0;
}

li,
p {
    color: var(--charcoal);
    line-height: 1.4;
    font-weight: 100;
}

li { margin: 0; }
small { font-size: var(--small); }

.textReset {
    text-transform: lowercase;
    font-weight: 400;
    letter-spacing: initial;
}
*/
