header {
    position: relative;
    font-size: var(--small);
    padding: 0.5rem 0 0.5rem 0;
}

header [itemprop="name"]::before {
    content: '\1F53B';
    width: 10px;
    height: 10px;
    display: inline-block;
    margin-right: 0.5rem;
    color: var(--red);
}

@media all and (min-width: 541px) {
    header {
        margin-bottom: 2rem;
        padding: 1rem 0 1rem 0;
    }
}
