.hire-card {
    padding: 1rem 0 1rem 0;
    margin-top: 2rem;
    text-align: center;
    line-height: 1.4;
    background-color: rgba(14, 142, 14, 1);
}

.hire-card a {
    color: rgba(255, 255, 255, 1);
}
