img {
    border-style: none;
    width: 100%;
}

figure {
    margin: 0 0 var(--extra-large) 0;
    line-height: var(--lh-list);
}

figcaption {
    font-family: var(--font-mono);
    font-size: var(--small);
    float: right;
    width: 37%;
    padding: var(--medium) 0;
    border-top: 1px solid var(--grey);
    margin-left: 10px;
}

figure > img {
    float: left;
    width: 60%;
}
