/*img {
    border-style: none;
    width: 100%;
}

figure {
    margin: 0 0 2rem 0;
    line-height: 1.6;
}

figcaption {
    font-style: italic;
    font-size: var(--small);
}

.u-photo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid var(--black);
}
*/
