.center {
    margin-left: auto;
    margin-right: auto;
}

.ma0 {
    margin: 0;
}

.ma8 {
    margin: var(--f8);
}

.mt0 {
    margin-top: 0;
}

.mt1 {
    margin-top: var(--f1);
}

.mt5 {
    margin-top: var(--f5);
}

.mt--fixed-4 {
    margin-top: 4px;
}

.mb7 {
    margin-bottom: var(--f7);
}

.mr5 {
    margin-right: var(--f5);
}

.mr7 {
    margin-right: var(--f7);
}

.mr--fixed-4 {
    margin-right: 4px;
}

.mr8 {
    margin-right: var(--f8);
}

.mb0 {
    margin-bottom: 0;
}

.mb5 {
    margin-bottom: var(--f5);
}

.mb3 {
    margin-bottom: var(--f3);
}

.mb7 {
    margin-bottom: var(--f7);
}

.mt-header {
    margin-top: 2.618rem;
}
