.center {
    margin-left: auto;
    margin-right: auto;
}

.ma0 {
    margin: 0;
}

.mt0 {
    margin-top: 0;
}

.mt1 {
    margin-top: var(--f1);
}

.mt5 {
    margin-top: var(--f5);
}

.mr5 {
    margin-right: var(--f5);
}

.mb0 {
    margin-bottom: 0;
}

.mb5 {
    margin-bottom: var(--f5);
}

.mb7 {
    margin-bottom: var(--f7);
}

.mt-header {
    margin-top: 73px;
}
