.menu-toggle {
    font-size: 0.875em;
    padding: 1em;
}

.menu-toggle:focus {
    outline: thin dotted;
    outline-offset: -2px;
}

.icon {
    position: relative;
    display: inline-block;
    fill: currentColor;
    height: 1em;
    width: 1em;
    vertical-align: middle;
    top: -0.0625em;
}

/* Menu toggle styles. */

.icon-menu-toggle {
    width: 2em;
    height: 2em;
    top: 0;
}

/* Animate menu icon (lines). */
.svg-menu-toggle .line {
    opacity: 1;
    transform: rotate(0) translateY(0) translateX(0);
    transform-origin: 1em 1em;
    transition: transform 0.3s ease-in-out, opacity 0.2s ease-in-out;
}
.svg-menu-toggle .line-1 {
    transform-origin: 1em 2.5em;
}
.svg-menu-toggle .line-3 {
    transform-origin: 1em 4.5em;
}

.menu-toggle.opened .svg-menu-toggle .line-1 {
    transform: rotate(45deg) translateY(0) translateX(0);
}
.menu-toggle.opened .svg-menu-toggle .line-2 {
    opacity: 0;
}
.menu-toggle.opened .svg-menu-toggle .line-3 {
    transform: rotate(-45deg) translateY(0em) translateX(0em);
}
