.siteNav ul {
    margin: 1rem 0 0 0;
    padding: 0;
}

.siteNav li {
    display: inline-block;
    list-style: none;
    margin-bottom: 0;
}

.siteNav li::after {
    display: inline-block;
    margin: 0 2px 0 4px;
    content: "•";
}

.siteNav li:last-child::after {
    content: none;
}

@media all and (min-width: 640px) {
    .siteNav ul {
        margin: 0;
        float: right;
    }
}
