.pa0 {
    padding: 0;
}

.pa1 {
    padding: var(--small);
}

.pa2 {
    padding: var(--medium);
}

.pa3 {
    padding: var(--large);
}

.pv2 {
    padding-top: var(--medium);
    padding-bottom: var(--medium);
}

.ph1 {
    padding-left: var(--small);
    padding-right: var(--small);
}

.pb2 {
    padding-bottom: var(--medium);
}

.pb3 {
    padding-bottom: var(--large);
}

.pt-24 {
    padding-top: 24%;
}
