.pa0 {
    padding: 0;
}

.pa5 {
    padding: var(--f5);
}

.pa7 {
    padding: var(--f7);
}

.pa8 {
    padding: var(--f7);
}

.pa-fixed-1 {
    padding: 1px;
}

.pt5 {
    padding-top: var(--f5);
}

.pt4 {
    padding-top: var(--f4);
}

.pt3 {
    padding-top: var(--f3);
}

.pt-fixed-5 {
    padding-top: 5px;
}

.pv5 {
    padding-top: var(--f5);
    padding-bottom: var(--f5);
}

.pv7 {
    padding-top: var(--f7);
    padding-bottom: var(--f7);
}

.ph6 {
    padding-left: var(--f6);
    padding-right: var(--f6);
}

.pb5 {
    padding-bottom: var(--f5);
}

.pb3 {
    padding-bottom: var(--f3);
}

.pb1 {
    padding-bottom: var(--f1);
}

.pt-24 {
    padding-top: 24%;
}

.pr7 {
    padding-right: var(--f7);
}

@media (--not-mobile) {
    .pa5-ns {
        padding: var(--f5);
    }
}
