.pa0 {
    padding: 0;
}

.pa1 {
    padding: var(--f7);
}

.pa2 {
    padding: var(--f5);
}

.pa3 {
    padding: var(--f1);
}

.pt4 {
    padding-top: var(--f4);
}

.pv2 {
    padding-top: var(--f5);
    padding-bottom: var(--f5);
}

.ph1 {
    padding-left: var(--f6);
    padding-right: var(--f6);
}

.pb2 {
    padding-bottom: var(--f5);
}

.pb3 {
    padding-bottom: var(--f1);
}

.pt-24 {
    padding-top: 24%;
}
