.pa0 {
    padding: 0;
}

.pa7 {
    padding: var(--f7);
}

.pa5 {
    padding: var(--f5);
}

.pt5 {
    padding-top: var(--f5);
}

.pt4 {
    padding-top: var(--f4);
}

.pv5 {
    padding-top: var(--f5);
    padding-bottom: var(--f5);
}

.ph6 {
    padding-left: var(--f6);
    padding-right: var(--f6);
}

.pb5 {
    padding-bottom: var(--f5);
}

.pb1 {
    padding-bottom: var(--f1);
}

.pt-24 {
    padding-top: 24%;
}

.pr7 {
    padding-right: var(--f7);
}
