.pa0 { padding: 0; }
.pa1 { padding: var(--small); }
.pa2 { padding: var(--medium); }
.pa3 { padding: var(--large); }
.center { margin-left: auto; margin-right: auto; }
.ma0 { margin: 0; }
.mt2 { margin-top: var(--medium); }
.ml2 { margin-left: var(--small); }
.mb2 { margin-bottom: var(--medium); }
