pre.highlight {
    margin-bottom: 20px;
}

pre code {
    padding: 10px;
}

code {
    display: inline-block;
    background-color: var(--black);
    color: var(--white);
    padding: 0 5px 0 5px;
    line-height: 1.8;
    border-radius: 3px;
}
