---
title: "Hello I'm Vincent Pickering a UI/UX Developer & Consultant"
subtitle: "The thoughts of Vincent Pickering a UI/UX Developer & Consultant"
meta: "A blog about front-end development techniques, HTML, CSS and Javascript"
summary : "A blog about front-end development techniques, HTML, CSS and Javascript"
twitterCard: false
tags:
---
<!DOCTYPE html>
<html lang="en">
    <head>
        {% include meta.html %}
    </head>

    <body itemscope itemtype="http://schema.org/WebPage" class="pa0 ma0">
        <div>
            {% include menuTrigger.html %}
            {% include hcard.html %}

             <div class="h-entry mt-header">
                <header class="layoutGrid center mb5">
                       <div class="two-col-grid mb5">
                            <img src="{{site.data.author.profilePic}}" width="90" class="db br-circle" alt="A picture of the site author Vincent Pickering">
                            <div class="mw-strap-length">
                                <h1 class="ma0 pa0">Hello.</h1>
                                <p class="f5-ns f6 ma0 pa0">I'm {{site.data.author.name}} a {{site.data.author.job}} With over 18 years experience.</p>
                                <p class="f5-ns f6 ma0 pa0">I work across a large breadth of industries and technologies.<br><strong><a href="mailto:{{site.data.author.email}}"  itemprop="url"  rel="me" title="Get in contact" class="hover-black">We should work together</a></strong></p>
                            </div>
                        </div>
                    </div>
                </header>

                <main>
                    <div class="e-content layoutGrid center">
                        <h2 class="ma0 mb5 pa0 lh-heading f4 red">Lifestream</h2>
                        {% for post in site.posts limit:20 %}
                            <article itemscope itemtype="http://schema.org/Blog" class="h-entry lifestreamGrid">
                                <div class="borderBefore relative {% if forloop.last == true %}mb5{%endif%}">
                                    <div class="circle center db relative br-circle  foreground w-20-fixed h-20-fixed center  {% if forloop.first == true %}bg-red mt0 {% else %} bg-black {% endif%}"></div>
                                </div>
                                <div class="pb5">
                                    <h3 itemprop="headline" class="f5 p-name ma0 pa0 lh-one">
                                        <a href="{{site.url}}{{ post.url }}" class="rm-underline" title="{{ post.title }}">{% if post.layout == "checkin" %}Checked in at {% endif %}{{ post.title }}</a>
                                </h3>
                                    <time itemprop="dateCreated" class="dt-published f7 light-grey lh-one" datetime="{{ post.date | date_to_xmlschema }}">
                                        {{ post.date | date_to_string: "ordinal" }} <span>at</span> {{ post.date | date: "%H" }}:{{ post.date | date: "%M%P" }}
                                    </time>
                                    <p class="p-summary f6"><a href="{{site.url}}{{ post.url }}" class="rm-underline" title="{{ post.title }}">{{ post.summary }}</a></p>
                                </div>
                            </article>
                        {% endfor %}
                    </div>
                </main>
            </div>
        </div>
        {% include footer.html %}
    </body>
</html>

