/*
 Default Styles
Vincent P - Bespoke
*/

*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    font-family: var(--font-body);
    background-color: var(--white);
    color: var(--black);
    font-size: 16px;
    font-weight: 400;
    text-rendering: geometricPrecision;
    line-height: 1.55;
}

::selection {
    background-color: var(--red);
    color: var(--white);
}

html {
    box-sizing: border-box;
    text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
    height: 100%;
}

body {
    min-height: 100%;
    display: grid;
    grid-template-rows: 1fr auto;
}

footer {
    grid-row: 2 / 3;
}

address {
    font-style: normal;
}

em {
    font-weight: bold;
}

abbr:hover {
    cursor: help;
}

abbr[title] {
    text-decoration: none;
    border-bottom: 1px dotted black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: -apple-system-headline, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
}

p {
    margin: 0;
    padding: 0;
}

a {
    font-family: inherit;
    color: currentColor;
    text-decoration-skip-ink: auto;
}

a:hover {
    color: var(--red);
}

a:focus {
    color: var(--white);
    background-color: var(--red);
    text-decoration: none;
    transition: 0.2s;
    outline: 1px solid var(--red);
}

blockquote {
    max-width: 300px;
    color: var(--grey);
    font-size: var(--small);
    margin: var(--small) auto var(--medium) auto;
    padding: 0;
    text-align: center;
}

cite {
    color: var(--black);
    max-width: 300px;
    font-style: normal;
    font-size: var(--small);
    font-weight: 100;
}

cite::after {
    content: "\2766";
    display: block;
    font-size: var(--large);
}

em,
blockquote > p,
figcaption {
    font-style: italic;
    font-weight: 100;
}

blockquote > p + p {
    margin-top: var(--medium);
}

.circle {
    margin: 14px auto 0 auto;
    border: 3px solid var(--white);
}

.borderBefore::before {
    content: "";
    border-left: 1px solid var(--black);
    z-index: 1;
    position: absolute;
    display: block;
    left: 50%;
    width: 1px;
    height: 100%;
}
