/*  Base layout */

*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    font-family: var(--font-body);
    background-color: var(--white);
    color: var(--black);
    font-size: var(--baseline-font-size);
    font-weight: 400;
    text-rendering: geometricPrecision;
    line-height: var(--lh-copy);
}

::selection {
    background-color: var(--red);
    color: var(--white);
}

html {
    box-sizing: border-box;
    text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
}

address {
    font-style: normal;
}

em {
    font-weight: bold;
}

abbr:hover {
    cursor: help;
}

abbr[title] {
    text-decoration: none;
    border-bottom: 1px dotted black;
}

pre > code,
pre {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

a {
    font-family: inherit;
    text-decoration-skip: ink;
    color: currentColor;
}

a:hover {
    color: var(--red);
}

a:focus {
    color: var(--white);
    background-color: var(--red);
    text-decoration: none;
    transition: 0.2s;
    outline: 1px solid var(--red);
}

blockquote {
    padding: 1rem;
    margin: 0 0 2rem 0;
    text-align: left;
    border-left: 5px solid var(--pale-grey);
    background-color: var(--light-grey);
}

cite { font-size: var(--small); }
cite::before {
    content: '—';
    display: inline-block;
    margin-right: 10px;
}

blockquote > p {
    line-height: 1.5;
}

em,
blockquote > p {
    font-style: italic;
    font-weight: 100;
}

blockquote > p + p {
    margin-top: 2rem;
}

sup {
    font-size: calc(8px + 0.5vw);
    min-width: 2vw;
    font-weight: 100;
    padding: 2px;
}

button {
    cursor: pointer;
    background: transparent;
    border: 0;
}

