/*
 Default Styles
Vincent P - Bespoke
*/

*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    font-family: var(--font-body);
    background-color: var(--white);
    color: var(--light-black);
    font-size: 18px;
    font-weight: 400;
    text-rendering: geometricPrecision;
    line-height: 1.5;
}

::selection {
    background-color: var(--red);
    color: var(--white);
}

::selection > {
    color: inherit;
}

html {
    box-sizing: border-box;
    text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
    height: 100%;
}

body {
    min-height: 100%;
    display: grid;
    grid-template-rows: 1fr auto;
}

footer {
    grid-row: 2 / 3;
}

address {
    font-style: normal;
}

em {
    font-weight: bold;
}

abbr:hover {
    cursor: help;
}

abbr[title] {
    text-decoration: none;
    border-bottom: 1px dotted black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--black);
    margin: 0;
    font-weight: normal;
}

h1 {
    color: var(--red);
    font-size: var(--f1);
}

h2 {
    letter-spacing: -1px;
    text-transform: capitalize;
    font-size: var(--f2);
}

p {
    margin: 0;
    padding: 0;
}

a,
a > h3,
a > time {
    color: currentColor;
    text-decoration-skip-ink: auto;
}

a:hover {
    color: var(--red);
}

a:focus {
    color: var(--white);
    background-color: var(--red);
    text-decoration: none;
    transition: 0.2s;
    outline: 1px solid var(--red);
}

blockquote {
    color: var(--grey);
    font-size: var(--f4);
    margin: var(--f3) auto var(--f3) auto;
    padding: 0 0 0 1rem;
    border-left: 1px solid var(--red);
}

cite {
    color: var(--black);
    font-style: normal;
    font-size: var(--f6);
}

main {
    max-width: 680px;
    margin: auto;
}

em,
blockquote > p,
figcaption {
    font-style: italic;
    font-weight: 200;
}

sup {
    margin: 0 0 0 4px;
    font-size: var(--f7);
    color: var(--red);
}

blockquote > p + p {
    margin-top: var(--f5);
}

.circle {
    border: 3px solid var(--white);
}

.borderBefore::before {
    content: "";
    border-left: 1px solid var(--black);
    z-index: 1;
    position: absolute;
    display: block;
    left: 50%;
    width: 1px;
    height: 100%;
    top: 10px;
}

.offscreen {
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.cf {
    clear: both;
}

[type="submit"] {
    -webkit-appearance: none;
    -moz-appearance: none;
}
