/*
 Default Styles
Vincent P - Bespoke
*/

*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    font-family: var(--font-body);
    background-color: var(--white);
    color: var(--black);
    font-size: 15px;
    font-weight: 400;
    text-rendering: geometricPrecision;
    line-height: 1.55;
}

::selection {
    background-color: var(--red);
    color: var(--white);
}

html {
    box-sizing: border-box;
    text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
}

address {
    font-style: normal;
}

em {
    font-weight: bold;
}

abbr:hover {
    cursor: help;
}

abbr[title] {
    text-decoration: none;
    border-bottom: 1px dotted black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: -apple-system-headline, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
}

p {
    margin: 0;
    padding: 0;
}

a {
    font-family: inherit;
    color: currentColor;
}

a:hover {
    color: var(--red);
}

a:focus {
    color: var(--white);
    background-color: var(--red);
    text-decoration: none;
    transition: 0.2s;
    outline: 1px solid var(--red);
}

blockquote {
    color: var(--grey);
    font-size: var(--small);
    margin-bottom: var(--large);
    padding: 0;
    text-align: center;
}

cite {
    font-style: normal;
    font-size: var(--small);
    font-weight: 100;
}

em,
blockquote > p,
figcaption {
    font-style: italic;
    font-weight: 100;
}

blockquote > p + p {
    margin-top: var(--medium);
}
