/* Archivo */

@font-face {
    font-family: 'archivo_regular';
    src: url('../fonts/Archivo/Archivo-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'archivo_medium';
    src: url('../fonts/Archivo/Archivo-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'archivo_thin';
    src: url('../fonts/Archivo/Archivo-Thin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'archivo_bold';
    src: url('../fonts/Archivo/Archivo-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'archivo_italic';
    src: url('../fonts/Archivo/Archivo-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Playfair */

@font-face {
    font-family: 'playfair_regular';
    src: url('../fonts/Playfair_Display/PlayfairDisplay-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'playfair_bold';
    src: url('../fonts/Playfair_Display/PlayfairDisplay-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'playfair_italic';
    src: url('../fonts/Playfair_Display/PlayfairDisplay-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
