/*
Normalise - Vincent P - Bespoke
*/

* {
    box-sizing: border-box;
}

:root {
    font-family: var(--body-font);
    background-color: var(--white);
    color: var(--black);
    font-size: 12px;
    text-rendering: geometricPrecision;
}

::selection {
    background-color: var(--red);
    color: var(--white);
}

html {
    text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
}

body {
    margin: 0;
    padding: 0;
}

abbr {
    text-transform: uppercase;
    font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "smcp" 1, "c2sc" 1;
}

time {
    font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0;
}

pre {
    overflow-x: auto;
}

pre,
kbd,
samp,
code {
    font-feature-settings: "kern" 0, "liga" 0, "calt" 1, "dlig" 0, "pnum" 0, "tnum" 1, "onum" 0, "lnum" 1, "zero" 1;
}

sup {
    font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 0, "sups" 1;
}

sub {
    font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 0, "subs" 1;
}

sub,
sup {
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

cite,
em,
var,
address,
dfn {
    font-style: normal;
}

pre {
    margin: 0;
    padding: 0;
}

blockquote {
    border-left: 4px solid var(--red);
    padding: 0 0 0 10px;
    margin: 0;
}

figure {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
time {
    font-family: var(--heading-font);
    color: var(--black);
    max-width: var(--column-width);
    font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 1;
}

h1 {
    margin: 0 0 20px 0;
    text-transform: uppercase;
    font-size: 1.84rem;
}

h2 {
    margin: 40px 0 10px 0;
    font-size: 1.2rem;
    line-height: 1.4;
}

li,
p {
    color: var(--grey);
    line-height: 1.6;
    hyphens: none;
    font-kerning: normal;
}

@media all and (min-width: 640px) {
    :root {
        font-size: 15px;
    }

    h1 {
        font-size: 2rem;
    }
}
