/*  Normalise - Vincent P - Bespoke */

*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --black: #111;
    --charcoal: #23241f;
    --white: #fff;
    --green: #085708;
    --red: #c83539;
    --lightGrey: #e8e8e8;
    --grey: rgba(138, 138, 138, 0.5);
    --small: 0.75rem;
    --medium: 1rem;
    --large: 1.6rem;

    font-family: -apple-system-body, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    background-color: var(--white);
    color: var(--black);
    font-size: 15px;
    font-weight: 100;
    text-rendering: geometricPrecision;
}

::selection {
    background-color: var(--red);
    color: var(--white);
}

html {
    box-sizing: border-box;
    text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
}

@media all and (min-width: 541px) {
    :root {
        --small: 0.6rem;
        --medium: 1.4rem;
        --large: 1.84rem;

        font-size: 18px;
    }
}
