:root {
    --black: rgba(0, 0, 0, 1);
    --white: rgba(255, 255, 255, 1);
    --red: rgba(200, 53, 57, 1);
    --red-50: rgba(200, 53, 57, 0.5);
    --light-black: rgba(50, 50, 50, 1);
    --grey: rgba(96, 96, 96, 1);
    --light-grey: rgba(118, 118, 118, 1);
    --pale-grey: rgba(235, 235, 235, 1);
    --column-width: 36rem;
    --f8: 0.3rem;
    --f7: 0.7rem;
    --f6: 0.837rem;
    --f5: 1rem;
    --f4: 1.355rem;
    --f3: 1.618rem;
    --f2: 2.192rem;
    --f1: 2.618rem;
    --lh-heading: 1.2;
    --font-body: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --font-mono: Menlo, Monaco, Consolas, "Courier New", monospace;
    --front: 100;
    --foreground: 10;
    --back: 1;
}
