{% set cardSize = "summary" %}
{% set cardImageUrl = site.url ~ "/images/profile/vincentp.jpg" %}

<!-- Twitter Card -->
<meta name="twitter:site" content="@{{ site.author.twitter.username }}" />
<meta name="twitter:title" property="og:title" content="{{ title }}" />
<meta name="twitter:creator" content="@{{ site.author.twitter.username }}" />
<meta name="twitter:url" property="og:url" content="{{site.url}}{{ page.url }}" />
<meta name="twitter:description" property="og:description" content="{{ summary}}" />
<meta name="twitter:card" content="{{cardSize}}" />
<meta name="twitter:image" property="og:image" content="{{cardImageUrl}}" />
<meta name="twitter:image:alt" content="{{summary}}" />
