<ul class="ma0 mb5 pa0">
    <li class="list dib mr5"><a href="{{site.url}}" class="f6 {% if page.url == '/index.html' %}rm-underline red{% endif %}" title="A stream of my daily life">All</a></li>
    <li class="list dib mr5"><a href="{{site.url}}/categories/photos" class="f6 {% if page.url contains 'photos'%}rm-underline red{% endif%}" title="Photo posts">Photos</a></li>
    <li class="list dib mr5"><a href="{{site.url}}/categories/links" rel="me" class="f6 {% if page.url contains 'links' %}rm-underline red{% endif %}" title="All my shared links" >Links</a></li>
    <li class="list dib mr5"><a href="{{site.url}}/categories/favourites" rel="me" class="f6 {% if page.url contains 'favourites' %}rm-underline red{% endif %}" title="All my shared links" >Favourites</a></li>
    <li class="list dib mr5"><a href="{{site.url}}/categories/checkins" rel="me" class="f6 {% if page.url contains 'checkins' %}rm-underline red{% endif %}" title="Checkins" >Checkins</a></li>
    {% comment %}<li class="list dib mr5"><a href="{{site.url}}/categories/replies" rel="me" class="f6 {% if page.url contains 'replies' %}rm-underline red{% endif %}" title="Conversation replies" >Replies</a></li>{% endcomment %}
</ul>
