<div class="u-author h-card mini-two-col-grid mb5 align-items-center">
  <img src="{{site.data.author.profilePic}}" width="40" class="u-photo br-circle" alt="Vincent Pickering a Service Designer & UI/UX Consultant, based in Leeds, U.K.">
  <p class="grey fw3 f7">
    Published by <a class="u-author black" href="{{page.url}}">{{ site.data.author.name }}</a>
    {% if page.replyUrl and page.replyUrl != '' -%}<a class="u-in-reply-to" href="{{page.replyUrl}}">in response</a>{% endif %}
    {% if page.like and page.like != '' -%}Favourited: <a class="u-like-of" href="{{page.like}}">this</a>{% endif %}
    {% if page.repost and page.repost != '' -%}Reposted: <a class="u-repost-of" href="{{page.repost}}">this</a>{% endif %}
    {% if page.rsvp and page.rsvp != '' -%}RSVP'd to: <a class="u-rsvp" href="{{page.rsvp}}">this</a>{% endif %}
    {% if page.bookmark and page.bookmark != '' -%}Bookmarked: <a class="u-bookmark-of" href="{{page.bookmark}}">this</a>{% endif %}
    <br>on <a class="u-url black" href="{{page.url}}"><time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}">
        {{ page.date | date_to_string: "ordinal" }} <span>at</span> {{ page.date | date: "%H" }}:{{ page.date | date: "%M%P" }}
    </time></a></p>
</div>


