<div class="u-author h-card dg mini-two-col-grid mb5 align-items-center">
    <img src="{{site.data.author.profilePic}}" width="40" class="u-photo br-circle" alt="Vincent Pickering">
    <p class="grey fw3 f7">Published by <a class="u-url p-name black" href="{{page.url}}">{{ site.data.author.name }}</a>
    <br>on <a class="u-url black" href="{{page.url}}"><time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}">
        {{ page.date | date_to_string: "ordinal" }} <span>at</span> {{ page.date | date: "%H" }}:{{ page.date | date: "%M%P" }}
    </time></a>
    </p>
</div>
