{% case page.webmention %}
    {% when "reply" %}
        {% assign webmentionType = "u-in-reply-to" %}
        {% assign wmExtraText = "in " %}
        {% assign wmText = "response" %}
    {% when "like" %}
        {% assign webmentionType = "u-like-of" %}
        {% assign wmExtraText = "Favourited " %}
        {% assign wmText = "this" %}
    {% when "repost" %}
        {% assign webmentionType = "u-repost-of" %}
        {% assign wmExtraText = "Reposted " %}
        {% assign wmText = "this" %}
    {% when "rsvp" %}
        {% assign webmentionType = "u-rsvp" %}
        {% assign wmExtraText = "RSVP'd " %}
        {% assign wmText = "to this" %}
    {% when "bookmark" %}
        {% assign webmentionType = "u-bookmark-of" %}
        {% assign wmExtraText = "Bookmarked " %}
        {% assign wmText = "this" %}
{% endcase %}

{% capture webmentionText %}
     {{wmExtraText}}<a class="{{webmentionType}}" href="{{page.target}}">{{wmText}}</a>
{% endcapture %}

<div class="u-author h-card mini-two-col-grid mb5 align-items-center">
    <img src="{{site.data.author.profilePic}}" width="40" class="u-photo br-circle" alt="Vincent Pickering">
    <p class="grey fw3 f7">Published by <a class="u-url p-name black" href="{{page.url}}">{{ site.data.author.name }}</a>{% if page.webmention %}{{webmentionText}}{% endif %}
    <br>on <a class="u-url black" href="{{page.url}}"><time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}">
        {{ page.date | date_to_string: "ordinal" }} <span>at</span> {{ page.date | date: "%H" }}:{{ page.date | date: "%M%P" }}
    </time></a>
    </p>
</div>
