<footer class="vcard" itemscope itemtype="http://schema.org/Person" >
    <div class="grid grid-footer">
        {% include next-prev.html %}

        <address>
            <ul>
                <li><a href="{{site.author.twitter}}"   itemprop="url" title="Twitter" rel="me">Twitter</a></li>
                <li><a href="{{site.author.github}}"   itemprop="url" title="Github" rel="me">Github</a></li>
                <li><a href="{{site.author.feed}}"  itemprop="url"  title="Feed" rel="me">Feed</a></li>
                <li><a href="{{site.author.pinboard}}"  itemprop="url"  title="Feed" rel="me">Pinboard</a></li>
            </ul>
        </address>

        <small role="contentinfo">&copy; 2017 <span itemprop="copyrightHolder" itemscope itemtype="http://schema.org/CreativeWork"><span itemprop="name">Vincent Pickering</span></span></small>
    </div>
</footer>
