<footer class="dg layoutGrid ">
    <div class="f-mono black mv30 pv2 tc bt b-dashed">
        <ul class="ma0 pa0">
            <li class="dib"><a href="{{site.url}}/feed.xml" class="f3" title="XML Blog Feed">XML Feed</a></li>
            <li class="dib"><a href="{{site.url}}/feed.json" class="f3" title="JSON Blog Feed">JSON Feed</a></li>
        </ul>

        <p class="f-mono black f3 mt2 mb2">Unless specified, the content on this site is published under a MIT License.</p>
        {% include companyInfo.html %}
    </div>
</footer>
