<div class="h-card" itemscope itemtype="http://schema.org/Person">
    <h1 class="p-name" itemprop="name"><a href="{{ site.url }}" title="vincentp.me" itemprop="url" class="u-url">Vincent Pickering</a></h1>

    <address>
        <nav role="navigation" aria-label="Site Navigation">
            <ul>
                 {% if  site.categories.Articles %}
                    <li><a href="{{site.url}}/categories/articles" rel="me">Writing</a></li>
                 {% endif %}
                 {% if  site.categories.Tips %}
                    <li><a href="{{site.url}}/categories/tips">Tips</a></li>
                {% endif %}
                {% if  site.categories.Cybernetics %}
                    <li><a href="{{site.url}}/categories/cybernetics">Cybernetics</a></li>
                {% endif %}
            </ul>

            <ul>
                <li><a href="{{site.url}}/services" rel="me">Services</a></li>
                <li><a href="{{site.url}}/services#consultancy">Consultancy</a></li>
                <li><a href="{{site.url}}/about" rel="me">About</a></li>
            </ul>

            <ul>
                <li><a href="{{site.data.author.github.url}}" itemprop="url" rel="me external" class="u-url">Github</a></li>
                <li><a href="mailto:{{site.data.author.email}}" rel="me" title="Email Me">Email</a></li>
            </ul>
        </nav>
    </address>
</div>
