<div class="h-card" itemscope itemtype="http://schema.org/Person">
    <a href="{{ site.url }}" title="vincentp.me" itemprop="url" class="u-url dn"><h1 class="f6 p-name f-mono" itemprop="name">Vincent Pickering</h1></a>
    <address class="f6 f-mono dg center mw-site grid-3-col pa2">
        <ul class="ma0 pa0">
            <li class="list"><a href="{{site.url}}/categories/articles" rel="me" class="rm-underline grey">Writing</a></li>
            <li class="list"><a href="{{site.url}}/categories/tips" class="rm-underline grey">Tips</a></li>
            <li class="list"><a href="{{site.url}}/categories/cybernetics" class="rm-underline grey">Cybernetics</a></li>
        </ul>

        <ul class="ma0 pa0">
            <li class="list"><a href="{{site.url}}/services" rel="me" class="rm-underline grey">Services</a></li>
            <li class="list"><a href="{{site.url}}/services#development" class="rm-underline grey">Development</a></li>
            <li class="list"><a href="{{site.url}}/services#frontend-consultancy-and-code-reviews" class="rm-underline grey">Consultancy</a></li>
            <li class="list"><a href="{{site.url}}/services#frontend-consultancy-and-code-reviews" class="rm-underline grey">Code Reviews</a></li>
        </ul>

        <ul class="ma0 pa0">
            <li class="list"><a href="{{site.url}}/about" rel="me" class="rm-underline grey">About</a></li>
            <li class="list"><a href="{{site.data.author.github.url}}" rel="me external" class="u-url rm-underline grey">Github</a></li>
            <li class="list"><a href="{{site.data.author.twitter.url}}" itemprop="url" title="Twitter" rel="me external" class="rm-underline grey">Twitter</a></li>
            <li class="list"><a href="mailto:{{site.data.author.email}}"  itemprop="url"  rel="me" title="Email Me" class="rm-underline grey">Email</a></li>
        </ul>
    </address>
</div>

