<ul class="ma0 pa0">
<li class="list dib mr5"><a href="{{site.url}}" class="rm-underline f6 {% if page.url == '/' %}red{% endif %}" title="A stream of my daily life">All Entries</a></li>
<li class="list dib mr5"><a href="{{site.url}}/categories/links" rel="me" class="rm-underline f6 {% if page.url contains 'links' %}red{% endif %}" title="All my shared links" >Links</a></li>
<li class="list dib mr5"><a href="{{site.url}}/categories/favourites" rel="me" class="rm-underline f6 {% if page.url contains 'favourites' %}red{% endif %}" title="All my shared links" >Favourites</a></li>
<li class="list dib mr5"><a href="{{site.url}}/categories/checkins" rel="me" class="rm-underline f6 {% if page.url contains 'checkins' %}red{% endif %}" title="Checkins" >Checkins</a></li>
<li class="list dib mr5"><a href="{{site.url}}/categories/replies" rel="me" class="rm-underline f6 {% if page.url contains 'replies' %}red{% endif %}" title="Conversation replies" >Replies</a></li>
</ul>
