<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

<meta name="description" content="{{page.meta}}" />
<meta name="robots" content="index,follow,noodp,noydir" />
<meta name="google" content="nositelinkssearchbox" />
<meta name="subject" content="Web design including: UI, UX, HTML, CSS, JavaScript and Node" />

<link rel="canonical" href="{{site.url}}" />
<link rel="author" type="text/plain"  href="{{site.url}}/humans.txt" />

<!-- Icons -->
<link rel="apple-touch-icon" href="{{site.url}}/apple-touch-icon.png" />
<link rel="icon" type="image/png" href="{{site.url}}/favicon-32x32.png" sizes="32x32" />
<link rel="icon" type="image/png" href="{{site.url}}/favicon-16x16.png" sizes="16x16" />
<link rel="manifest" href="{{site.url}}/manifest.webmanifest" />
<link rel="mask-icon" href="{{site.url}}/safari-pinned-tab.svg" color="#c83539" />
<meta name="theme-color" content="#ffffff" />

<!-- Twitter Card -->
{% include twitterCard.html %}

<!-- Webmention -->
<link rel="webmention" href="https://webmention.io/vincentp.me/webmention" />

<!-- Indie.Auth -->
<link rel="authorization_endpoint" href="https://indieauth.com/auth" />
<link rel="token_endpoint" href="https://tokens.indieauth.com/token" />
<link rel="micropub" href="https://mastr-cntrl.herokuapp.com/micropub" />

<!--Around The Web -->
<link rel="me" href="{{site.data.author.github.url}}"  />
<link rel="me" href="{{site.data.author.twitter.url}}"  />
<link rel="me" href="{{site.data.author.mastodon.url}}"  />
<link rel="me" href="{{site.data.author.microblog.url}}"  />
<link rel="me" href="{{site.data.author.instagram.url}}"  />
<link rel="me" href="{{site.data.author.linkedin.url}}"  />
<link rel="me" href="{{site.data.author.arena.url}}"  />
<link rel="me" href="{{site.data.author.codepen.url}}"  />


<!-- Feeds -->
<link rel="alternate feed" type="application/rss+xml" title="Articles by Vincent Pickering in RSS format" href="{{site.url}}/feeds/articles.xml" />
<link rel="alternate feed" type="application/json" title="Articles by Vincent Pickering in JSON format" href="{{site.url}}/feeds/articles.json" />
<link rel="alternate feed" type="application/rss+xml" title="Notes by Vincent Pickering in RSS format" href="{{{site.url}}/feeds/notes.xml" />
<link rel="alternate feed" type="application/json" title="Notes by Vincent Pickering in JSON format" href="{{site.url}}/feeds/notes.json" />

<!-- CSS -->
<link  rel="stylesheet" href="{{ "/css/application.min.css" | prepend: site.baseurl }}?{{site.time | date: '%s%N'}}" />

<title>{{ page.title }}</title>

<!-- Great to see you here! -->
<!-- Feel free to poke around and see what's going on -->
<!-- It's a great way to learn -->
<!-- Any questions, feel free to contact me: hello at vincentp dot me -->
