<meta charset="utf-8" />
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<meta name="description" content="{{page.meta}}" />
<meta name="robots" content="index,follow,noodp,noydir">
<meta name="google" content="nositelinkssearchbox">
<meta name="subject" content="Web design including: UI, UX, HTML, CSS, JavaScript and Node">

<!-- Twitter Card -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@{{ site.author.twitter.username }}" />
<meta name="twitter:site:id" content="833590670862516224" />
<meta name="twitter:creator" content="@{{ site.author.twitter.username }}" />
<meta name="twitter:creator:id" content="833590670862516224" />
<meta name="twitter:image" property="og:image" content="{{site.url}}/images/vincentp-300.jpg" />
<meta name="twitter:url" property="og:url" content="{{site.url}}{{ page.url }}" />
<meta name="twitter:title" property="og:title" content="{{ page.title }}" />
<meta name="twitter:description" property="og:description" content="{{ page.summary}}" />

<link rel="canonical" href="{{site.url}}">
<link rel="author" type="text/plain"  href="{{site.url}}/humans.txt" />

<!-- The Horror. The Sheer Horror. -->
<link rel="apple-touch-icon" sizes="180x180" href="{{site.url}}/apple-touch-icon.png?v=dLBGMWg0qB">
<link rel="icon" type="image/png" href="{{site.url}}/favicon-32x32.png?v=dLBGMWg0qB" sizes="32x32">
<link rel="icon" type="image/png" href="{{site.url}}/favicon-16x16.png?v=dLBGMWg0qB" sizes="16x16">
<link rel="manifest" href="{{site.url}}/manifest.json?v=dLBGMWg0qB">
<link rel="mask-icon" href="{{site.url}}/safari-pinned-tab.svg?v=dLBGMWg0qB" color="#c83539">
<meta name="theme-color" content="#c83539">

<!-- Feeds -->
<link rel="alternate" type="application/rss+xml" title="RSS" href="{{site.url}}/feed.xml" />
<link rel="alternate" type="application/atom+xml" href="https://feeds.feedburner.com/vincentp">

<!-- CSS -->
<link rel="stylesheet" href="{{site.url}}/css/application.css">
<title>{{ page.title }}</title>
<!-- Great to see you here! -->
<!-- Feel free to poke around and see what's going on -->
<!-- It's a great way to learn -->
<!-- Any questions, feel free to contact me: hello at vincentp dot me -->
