<meta charset="utf-8" />
<meta http-equiv="x-ua-compatible" content="ie=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

<meta name="description" content="{{page.meta}}" />
<meta name="robots" content="index,follow,noodp,noydir" />
<meta name="google" content="nositelinkssearchbox" />
<meta name="subject" content="Web design including: UI, UX, HTML, CSS, JavaScript and Node" />

<link rel="canonical" href="{{site.url}}" />
<link rel="author" type="text/plain"  href="{{site.url}}/humans.txt" />

<!-- Icons -->
<link rel="apple-touch-icon" sizes="180x180" href="{{site.url}}/apple-touch-icon.png" />
<link rel="icon" type="image/png" href="{{site.url}}/favicon-32x32.png" sizes="32x32" />
<link rel="icon" type="image/png" href="{{site.url}}/favicon-16x16.png" sizes="16x16" />
<link rel="manifest" href="{{site.url}}/manifest.json" />
<link rel="mask-icon" href="{{site.url}}/safari-pinned-tab.svg" color="#c83539" />
<meta name="theme-color" content="#ffffff" />

<!-- Twitter Card -->
{% include twitterCard.html %}

<!-- Webmention -->
<link rel="webmention" href="https://webmention.io/vincentp.me/webmention" />

<!-- Indie.Auth -->
<!-- The authorization endpoint tells an app where to direct your browser to sign you in-->
<link rel="authorization_endpoint" href="https://indieauth.com/auth" />

<!-- The token endpoint is where an app will make a request to get an access token after obtaining authorization -->
<link rel="token_endpoint" href="https://tokens.indieauth.com/token" />

<!-- The Micropub endpoint is the URL an app will use to post new photos. -->
<link rel="micropub" href="https://webmention.io/vincentp.me/webmention">

<!--Around The Web -->
<link rel="me" href="{{site.data.author.github.url}}"  />
<link rel="me" href="{{site.data.author.twitter.url}}"  />
<link rel="me" href="{{site.data.author.instagram.url}}"  />
<link rel="me" href="{{site.data.author.linkedin.url}}"  />
<link rel="me" href="{{site.data.author.arena.url}}"  />
<link rel="me" href="{{site.data.author.codepen.url}}"  />

<!-- Feeds -->
<link rel="alternate feed" type="application/rss+xml" title="Subscribe to everything" href="{{site.data.feeds.xml.everything}}" />
<link rel="alternate feed" type="application/json" title="Subscribe to everything" href="{{site.url}}/feeds/everything.json" />
<link rel="alternate feed" type="application/rss+xml" title="I just want the articles" href="{{site.data.feeds.xml.articles}}" />
<link rel="alternate feed" type="application/json" title="I just want the articles" href="{{site.url}}/feeds/articles.json" />
<link rel="alternate feed" type="application/rss+xml" title="I'm just interested in Cybernetics" href="{{site.data.feeds.xml.cybernetics}}" />
<link rel="alternate feed" type="application/json" title="I'm just interested in Cybernetics" href="{{site.url}}/feeds/cybernetics.json" />
<link rel="alternate feed" type="application/rss+xml" title="Give me all the little things only, nothing heavy" href="{{site.data.feeds.xml.lifestream}}" />
<link rel="alternate feed" type="application/json" title="Give me all the little things only, nothing heavy" href="{{site.url}}/feeds/lifestream.json" />

<!-- CSS -->
<link  rel="stylesheet" href="{{site.url}}/css/application.min.css" />

<title>{{ page.title }}</title>

<!-- Great to see you here! -->
<!-- Feel free to poke around and see what's going on -->
<!-- It's a great way to learn -->
<!-- Any questions, feel free to contact me: hello at vincentp dot me -->
