<a href="#content" title="Get to the article" class="visuallyhidden">Skip to content</a>

<header class="layoutGrid pv5 tl" id="#top">
    <div class="nav-grid">
       <a href="{{ site.url }}" title="vincentp.me" class="u-url dib rm-underline" data-type="logo"><span class="p-name ma0 pa0 f6 fw7">Vincent Pickering</span></a>
        <nav>
            <ul class="ma0 pa0">
                <li class="list dib mr5"><a href="{{site.url}}/categories/articles" rel="me" class="rm-underline f6 {% if page.url contains 'articles' %}red{% endif %}" title="Longer articles on topics">Writing</a></li>
                <li class="list dib mr5"><a href="{{site.url}}/categories/notes" class="rm-underline f6 {% if page.url contains 'notes' or  page.category == 'Notes' or page.category == 'Checkins'  or page.category == 'Instagram' %}red{% endif%}" title="Day to day notes and happenings">Notes</a></li>
                <li class="list dib mr5"><a href="{{site.url}}/services" rel="me" class="rm-underline f6 {% if page.url contains 'services' %}red{% endif %}" title="Let's work together on your next project" >Services</a></li>
                <li class="list dib"><a href="{{site.url}}/about" rel="me" class="rm-underline f6 {% if page.url contains 'about' %}red{% endif %}" title="Background information and past experience" >About</a></li>
            </ul>
        </nav>
    </div>
</header>
