{% assign maxRelated = 2 %}
{% assign minCommonTags =  2 %}
{% assign maxRelatedCounter = 0 %}

<h3 class="f5 red ma0 mb7 b-dashed-top bt b-light-grey pt5">Related Articles</h3>
<div class="dg recommended-grid pb5 b-dashed-bottom bb b-light-grey ">
    {% for post in site.posts %}
        {% assign sameTagCount = 0 %}

        {% for tag in post.tags %}
            {% if post.url != page.url %}
                {% if page.tags contains tag %}
                    {% assign sameTagCount = sameTagCount | plus: 1 %}
                {% endif %}
            {% endif %}
        {% endfor %}

        {% if sameTagCount >= minCommonTags %}

            <article class="black hover-black {% if maxRelatedCounter == 0 %}pr7{%endif%}">
                <h2 class="ma0 pa0 fw7 f5 lh-heading"><a href="{{ site.url }}{{ post.url }}" title="Related content you may like" class="rm-underline">{{ post.title }}</a></h2>
                <p class="ma0 pa0  f7"><a href="{{ site.url }}{{ post.url }}" title="Related content you may like" class="rm-underline">{{post.summary}}</a></p>
            </article>
            {% assign maxRelatedCounter = maxRelatedCounter | plus: 1 %}

            {% if maxRelatedCounter >= maxRelated %}
                {% break %}
            {% endif %}
        {% endif %}
    {% endfor %}
</div>
