{% comment%}
<form name="webmention" method="POST"  action="https://webmention.io/vincentp/webmention" class="mt5 mb3">
    <label for="webmention-source" class="lh-one f5 red mb7 pa0 fw7">Have you responded to this?</label>
    <div class="df ba b-pale-grey">
        <input type="url" name="source" id="sourceID" placeholder="https://example.com" id="webmention-source" class="flex-1 db f5 pa7 ba0">
        <input type="submit" value="Submit" class="pa7 fw7 f7 bg-red white ba0 hover-button" id="submitBtn">
    </div>
    <input type="hidden" name="target" id="targetID" value="{{site.url}}{{page.url}}">
</form>
{% endcomment %}
