#nav-lines {
    width: 40px;
    height: 30px;
}

.rect {
    stroke: var(--red);
    stroke-width: 0;
    transform-origin: 50% 50%;
    transition: all 0.3s ease-in-out;
    transform: rotate(0deg);
    fill: transparent;
}

.cross-line {
    stroke: var(--white);
    stroke-width: 0;
    transform-origin: 50% 50%;
    transition: all 0.3s ease-in-out;
}

.nav-line {
    stroke: var(--white);
    stroke-width: 2px;
    transform-origin: 50% 50%;
    transition: all 0.3s ease-in-out;
}

#nav-lines:hover .rect {
    stroke-width: 1;
    transform: rotate(45deg);
}
#nav-lines:hover .nav-line {
    transform: scale(0.5, 0.5);
}
#nav-lines:hover #nav-line-1 {
    transform: translateY(10px) scale(0.5);
}
#nav-lines:hover #nav-line-3 {
    transform: translateY(-10px) scale(0.5);
}
#nav-lines.active .cross-line {
    stroke-width: 2;
    transform: scale(0.8);
}
#nav-lines.active .nav-line,
#nav-lines.active #nav-line-1,
#nav-lines.active #nav-line-3 {
    transform: scale(0.01);
}
#nav-lines.active:hover .cross-line {
    transform: scale(0.6);
}
