<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ title }}</title>
    {% include "structure/meta.njk" %}
    {% block meta %}{% endblock %}
    <link  rel="stylesheet" href="/css/application.min.css" />

    <title>{{ site.title }}</title>
    <!-- Great to see you here! -->
    <!-- Feel free to poke around and see what's going on, It's a great way to learn -->
    <!-- Any questions, feel free to contact me: hello at vincentp dot me -->
</head>

<body class="ma0 pa0">
        <div>
            {% include "structure/navigation.njk" %}
            {% include "structure/hcard.njk" %}
            {% block main %}{% endblock %}
        </div>
        {% include "structure/footer.njk" %}
    </body>
</html>
