{% extends "src/_layouts/base.njk" %}
{% block pageTitle %}{% endblock %}
{% block main %}
   <article class="h-entry">
        <div class="mb5">
            <h1 class="p-name ma0 pa0 mb3 f3 f1-ns lh-heading"><span class="grey fw3 f7">Checked in at</span><br><a href="{{foursquare}}" class="p-checkin h-card f1" rel="external">{{ title}}</a></h1>
            {% include "structure/author.njk" %}
        </div>

            {% if photo1Url and photo1Url %}
                <figure class="ma0 pa0">
                    <img src="/{{photo1Url}}" class="u-photo w-100" alt="{{photo1Alt}}"/>
                    <figcaption class="mt5 mb5 tl">{{ content | safe}}</figcaption>
                </figure>
            {% else %}
               <img src="https://api.mapbox.com/styles/v1/mapbox/streets-v9/static/pin-l-star+c83539({{longitude}},{{latitude}})/{{longitude}},{{latitude}},13,0/600x300@2x?access_token=pk.eyJ1IjoidnBpY2tlcmluZyIsImEiOiJjamo1ZWNpbmwwYW1wM3FxaHZ5cHR6N3g3In0.hhrPnSY0r_9fu5QKlhqRHw&logo=false" alt="Mapbox Map of {{longitude}},{{latitude}}" class="w-100 u-photo">
                <div class="f7 tr">&copy; <a href='https://www.mapbox.com/map-feedback/'>Mapbox</a> &copy; <a href='https://www.openstreetmap.org/copyright'>OpenStreetMap contributors</a></div>
                <div class="mt5 mb5 tl e-content">
                   {{ content | safe }}
                </div>
            {% endif %}

            <div class="p-location h-adr">
                <small>
                    {% if locality %}<span class="p-locality">{{locality}}</span>,{% endif %}
                    {% if region  %}<span class="p-region">{{region}}</span>,{% endif %}
                    {% if country  %}<span class="p-country">{{country}}</span>{% endif %}
                    <data class="p-latitude" value="{{latitude}}"></data>
                    <data class="p-longitude" value="{{longitude}}"></data>
                </small>
                {{comment.swarm_coins}}
            </div>

           <p><small>Checkin via <a href="https://ownyourswarm.p3k.io/">https://ownyourswarm.p3k.io</a></small></p>
            <p><small>Original Post <a href="{{syndicatedFrom}}">Swarm</a></small></p>

          {% include "structure/tagging.njk" %}

            <div class="pb5">
                {% include "social/webmentions.njk" %}
            </div>
    </article>
{% endblock %}
