{% extends "src/_layouts/base-category.njk" %}
{% block main %}
<main class="h-feed" id="content">
    <div class="e-content dg layout-grid center">
        {% include "structure/page-title.njk" %}

        {% for post in posts %}
            {% if post.data.category == 'Articles' %}
                {% include "cards/article.njk" %}
            {% elif post.data.category == 'Notes' %}
                {% include "cards/note.njk" %}
            {% endif %}
        {% endfor %}

        {% include "structure/pagination.njk" %}
    </div>
</main>
{% endblock %}

