{% extends "src/_layouts/base.njk" %}
{% block pageTitle %}{% endblock %}
{% block main %}
      <article class="h-entry">
            <div class="mb5 mt5">
                <h1 class="ma0 pa0 f3 f1-ns lh-heading dn">Note for {{ date | dateToISO}} at {{ date | date('hh:mma') }}</h1>
                {% include "structure/author.njk" %}
                {% include "structure/audience.njk" %}
            </div>

            <div class="e-content" data-type="blog">
                <div class="ma0 mb7 pa0">
                    {% if photo1Url %}<img src="/{{photo1Url}}" class="u-photo w-100" alt="{{photo1Alt}}"/>{% endif %}
                    {% if photo2Url %}<img src="/{{photo2Url}}" class="u-photo w-100" alt="{{photo2Alt}}"/>{% endif %}
                    {% if photo3Url %}<img src="/{{photo3Url}}" class="u-photo w-100" alt="{{photo3Alt}}"/>{% endif %}
                    {% if photo4Url %}<img src="/{{photo4Url}}" class="u-photo w-100" alt="{{photo4Alt}}"/>{% endif %}
                    {% if photo5Url %}<img src="/{{photo5Url}}" class="u-photo w-100" alt="{{photo5Alt}}"/>{% endif %}
                    <div class="mt5 mb5 tl">{{ content | safe }}</div>
                </div>
            </div>

            {% include "structure/tagging.njk" %}
            {% include "social/syndicated.njk" %}
            <div class="pb5">
                {% include "social/webmentions.njk" %}
            </div>
        </article>
{% endblock %}
