{% extends "src/_layouts/base.njk" %}
{% block pageTitle %}{% endblock %}
{% block main %}
<article class="h-entry ba b-pale-grey br-5 pa5 mb5">
     <div class="e-content">
        <div class="mb5">
            <h1 class="p-name f5 red ma0 pa0 mb5">{{ title }}</h1>
                 {% include "structure/author.njk" %}
        </div>

        {{ content | safe  }}
        <p class="f7 mb5">In response to: <a class="u-in-reply-to" href="{{webmentionTarget}}" rel="external"  title="Vincent replied to {{webmentionTarget}}">{{webmentionTarget}}</a></p>
         {% if modified %}
                <time class="dt-published red f7"  datetime="{{ date}}" title="Page Modified">{{ modified }} at <span class="dt-updated f7">{{ modified }}</span></time>
                <p class="f7 dt-updated">{{ modifiedReason }}.</p>
            {% endif %}
    </div>

    {% include "structure/tagging.njk" %}

    <div class="pb5">
        {% include "social/webmentions.njk" %}
    </div>
</article>
{% endblock %}
