{% extends "src/_layouts/base.njk" %}
{% block pageTitle %}{% endblock %}
{% block main %}
<article class="h-entry ba b-pale-grey br-5 pa5">
    <div class="mb5">
        <h1 class="p-name f5 red ma0 pa0 mb5">{{ title }}</h1>
        {% include "structure/author.njk" %}
        {% include "structure/audience.njk" %}
    </div>

    <div class="e-content">
        <p class="p-name f5 ma0 pa0 mb5 "><data class="p-rsvp" value="{{rsvpStatus}}"></data>Tracking</data> <a href="{{webmentionTarget}}" class="u-in-reply-to underline-no-hover overflow-w-bw" rel="external">{{title}}</a></p>
        {% if modified %}
        <time class="dt-published red f7"  datetime="{{ date | dateToISO}}" title="Page Modified">{{ modified | date('MMM Do YYYY') }} at <span class="dt-updated f7">{{ modified | date('hh:mma') }}</span></time>
        <p class="f7 dt-updated">{{ modifiedReason }}.</p>
        {% endif %}
    </div>

    {% include "structure/tagging.njk" %}
    <div class="pb5">
    {% include "social/webmentions.njk" %}
    </div>
</article>
{% endblock %}
