{% extends "src/_layouts/base.njk" %}
{% block pageTitle %}{% endblock %}
{% block main %}
    <article class="h-entry">
         <div class="mb5 mt5">
            {% include "structure/page-title.njk" %}
            {% include "structure/author.njk" %}
        </div>

        <div data-type="blog" class="e-content">
          {{ content | safe }}
        </div>

        {% include "structure/tagging.njk" %}

            <div class="pb5">
                {% include "social/webmentions.njk" %}
            </div>
    </article>
  {% endblock %}
