@font-face {
    font-family: 'mp-mallory-book';
    src: url(/font/MalloryMP-Book.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

:root{
    --mallory-book : 'mp-mallory-book', Verdana, sans-serif;
}
