article {
    position: relative;
    z-index: 2;
}

h1,
time {
    display: block;
    font-family: 'mp-mallory-book', Verdana, sans-serif;
    // text-align: center;
    // color: brand(white);
}

time {
    font-size: 12px;
    margin-left: 4px;
}

h1 {
    margin : 0 0 100px 0;
    text-transform: uppercase;
    font-size: 40px;
}

h2 {
    margin: 50px 0 10px 0;
}

article ul, ol{
    margin: 0;
    padding: 0;
}

article li {
    margin-bottom: 10px;
}

.next-prev ul{
    margin-left: 25px;
}
