html{
    position: relative;
}

// body::before{
//     content: '';
//     background-color: #c6191f;
//     height: 350px;
//     width: 100%;
//     position: absolute;
//     z-index: 1;
// }

body{
    position: absolute;
    z-index: 2;
}

// @media all and (max-width: 360px) {
//     body::before{
//         height: 300px;
//     }
// }
