body > * {
    min-width : 300px;
    max-width : size(px704);
    padding-left : size(px15);
    padding-right : size(px15);
    margin-left : auto;
    margin-right : auto;
}

@media (min-width: 640px) {
    body > * {
        padding : 0 ;
    }
}

// work out line-length.
// calculate max container size.

/*
line height = (current-width - min-width) / ((max-width x min-width) x (line-height - min-line-height) + min-line-height)
*/


/*
grid max width = max column width(s) + gutter(s) + margin(s)
*/


// max width 100% ?
// lock max - widths to elements, so grid can flex and allow pop out elements at larger sizes.
