footer > *{
    text-align: center;
}

footer p {
    max-width: 100%;
}

address li{
    display: inline;
    list-style: none;
}

address li::after{
    content: ":";
    padding : 0 0 0 4px;
    display: inline-block;
}

address li:last-child::after{
    content: none;
}

address a{
    font-size: 12px;
}
