footer  *{
    font-family: 'mp-mallory-book', Verdana, sans-serif;
    text-transform: uppercase;
    font-size: 10px;
    color: brand(grey);
}

// footer p {
//     max-width: 100%;
// }



address li {
    float: left;
    list-style: none;
}

address li::after {
    content: "/";
    margin: 0 2px 0 2px;
    // padding : 0 2px 0 2px;
    display: inline-block;
}

address li:last-child::after {
    content: none;
}


