footer {
    margin-top: size(px30);
    padding : 0;
}

footer > .container{
    border-top: 2px solid brand(black);
    padding-top:  size(px30);
    text-align: center;
    // line-height: 1.2;
}

footer p {
    max-width: 100%;
}


address li{
    display: inline;
    list-style: none;
}

address li::after{
    content: ":";
    display: inline-block;

}
