header {
    padding-top: 40px;
    color: brand(white);
    height: 150px;
    position: relative;
    z-index: 2;
}

header * {
    font-family: 'mp-mallory-book', Verdana, sans-serif;
    text-transform: uppercase;
    color: brand(white);
    font-size: 10px;
}

// Need image or default red colour option
header.image{

}

