header {
    padding-top: 40px;
    // background: linear-gradient(45deg, #c6191f 0%,#fa3843 100%);
    // background-color: brand(red);
    color: brand(white);
    height: 100px;
    position: relative;
    z-index: 2;
}

header * {
    font-family: 'mp-mallory-book', Verdana, sans-serif;
    text-transform: uppercase;
    color: brand(white);
    font-size: 10px;
}

// Need image or default red colour option
header.image{

}

