$mallory-light : 'mp-mallory-light', Verdana, sans-serif;
$mallory-light-italic : 'mp-mallory-light-italic', Verdana, sans-serif;
$mallory-book : 'mp-mallory-book', Verdana, sans-serif;
$mallory-book-italic : 'mp-mallory-book-italic', Verdana, sans-serif;
$mallory-bold : 'mp-mallory-bold', Verdana, sans-serif;

// THIS ALL NEEDS TO BE IN EM's

.body-pad{
    padding: 60px;
}

.home-container{
    max-width: 800px;
    min-width: 300px;
    margin:auto;
}

.icon{
    width: 100%;
}

.box{
    background-color: brand(black);
    margin-bottom: 3px;
}

.box.top{
    height : 16vh;
}

.box.middle-left{
    float: left;
    width: 66%;
    height : 40vh;
}

.box.middle-right{
    float: left;
    width: 33%;
    margin-left : 1%;
    height : 40vh;
}

.box.bottom{
      height : 10vh;
}


//Type
h1.special {
    font-family: $mallory-book;
    text-transform: uppercase;
    font-size : size(large);
    margin:0 0 15px 0;
}

h2.special {
    font-family: $mallory-bold;
    font-size: size(small);
    text-transform: uppercase;
    padding: 0;
    color: brand(grey);
    margin: 0 0 8px 0;
    line-height: 1;
}

p.foo{
    font-family: 'mp-mallory-light';
    margin: 0 0 15px 0;
    font-size: 10px;
}
