.logo-container{
    float: left;
    width: 206px;
}

.logo {
    margin-bottom: size(px10);
    display: inline-block;
    width: 205px;
    color: brand(white);
    text-decoration: none;
    text-align: center;
    letter-spacing: 2px;
    background-color: brand(black);
    padding: 12px;
    outline: 2px solid brand(black);
    outline-offset: 2px;
    transition: background-color 0.3s;

    // font-family: Verdana, Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 0.75em;
    text-transform: uppercase;
    line-height: 20px;
}

.logo:hover {
    background-color: brand(red);
    outline: 2px solid brand(red);
}

.sub-title {
    font-size: size(px9);
    text-align: center;
    width: 100%;
}
