$standard-margin : size(px24);
$half-margin: size(px15);
$small-margin: size(px9);

// body * + *  { margin-bottom: $standard-margin ; }
nav li          { display: inline; margin: 0 $small-margin  0 0; }

.margin-0{
    margin :0;
}

figcaption  { margin-bottom: $small-margin; }
address ul  { margin-bottom: 0; }

body > header        { margin-top: $half-margin; }


article{
    h2               { margin: 0 0 $half-margin 0; }
    script + h2 { margin-top: $standard-margin; }
    li ol,
    li ul              { margin: $small-margin 0 $small-margin 0; }
    li                  { margin: 0 0 $small-margin 0; }
    li:last-child { margin-bottom: 0; }
    q,
    blockquote > p { margin: 0; }
    time { margin:$small-margin 0 $standard-margin 0; }
    aside{
        p,li   { margin-bottom: $small-margin; }
    }
}


// .home-container{ margin:auto; }
// .box{ margin-bottom: 3px; }
// .box.middle-right{ margin-left : 1%; }
// h1.special { margin:0 0 $half-margin 0; }
// h2.special { margin: 0 0 $small-margin 0; }
// p.foo { margin: 0 0 $half-margin 0; }
