nav {
    float:  right;
}

nav li{
    margin: 0 0 size(px9) 0;
    padding: 0;
    list-style: none;
    font-size: 12px;
    text-transform: uppercase;
    font-family: 'mp-mallory-bold';
}

nav a{
    color: brand(black);
    text-decoration: none;
}
