nav ul{
    margin: 0;
    padding: 0;
    float:  right;
}

nav li {
    float: left;
    list-style: none;
}

nav li::after{
    display: inline-block;
    margin: 0 2px 0 4px;
    content: "/";
}

nav li:last-child::after {
    content: none;
}
