.next-post,
.previous-post{
    position: fixed;
    top: 10px;
    bottom:10px;
    width: 35px;
}

.next-post a,
.previous-post a {
    position: relative;
    display: block;
    height: 100%;
    font-size: 40px;
    text-decoration: none;
}

.accessible-hide{
    display: none; //Update to make accessible
}

.next-post{
    right:10px;
}

.previous-post{
    left:10px;
}


.vertical-centre{
    display: block;
    position: absolute;
    top: calc(50% - 48px);
}
