[role="table"]{
    display: table;
    border-collapse: separate;
    border-spacing: 10px;
    width: 100%;
    max-width: size(px435);
    margin: size(px15)  auto;
}

// [role="table"] article:nth-of-type(1) {
//     margin-top:  15px;
// }

[role="row"]{
    display: table-row;
}

[role="table"] header{
    display: table-header-group;
}

[role="gridcell"],
[role="columnheader"]{
    display: table-cell;
    vertical-align: top;
    padding: size(px5) 0 size(px5) 0;
    margin: 0;
}

[role="gridcell"]{
    font-size: 13px;
    // border-bottom: 1px solid brand(lightGrey);
}

[role="columnheader"]:after {
    content: "";
    display: block;
    width: 20px;
    height: 10px;
    border-bottom: 4px solid #000000;
}

[role="row"] > :nth-child(1) {
    width : 81%;
}

[role="row"] > :nth-child(2){
    width : 18%;
    min-width: 90px;
}
