<svg width="250" viewBox="0 0 448 629" style="margin:30px auto;">
    <defs>
        <rect id="path-1" x="0" y="0" width="182" height="92.1992187"></rect>
        <rect id="path-2" x="0" y="0" width="85.4414062" height="69"></rect>
        <rect id="path-3" x="0" y="0" width="182" height="92.1992187"></rect>
        <rect id="path-4" x="0.72265625" y="0" width="151.097656" height="92.1992187"></rect>
        <rect id="path-5" x="0" y="0" width="85.4414062" height="69"></rect>
    </defs>
    <g id="Form-Loop" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Group-4" transform="translate(168.000000, 69.000000)">
            <g id="Rectangle">
                <use fill="#FFFFFF" fill-rule="evenodd" xlink:href="#path-1"></use>
                <rect stroke="#000000" stroke-width="1" x="0.5" y="0.5" width="181" height="91.1992187"></rect>
            </g>
            <text id="Ready-State" font-family="HelveticaNeue, Helvetica Neue" font-size="20" font-weight="normal" fill="#000000">
                <tspan x="36.18" y="54">Ready State</tspan>
            </text>
        </g>
        <g id="Group-2" transform="translate(34.000000, 299.000000)">
            <g id="Rectangle">
                <use fill="#FFFFFF" fill-rule="evenodd" xlink:href="#path-2"></use>
                <rect stroke="#000000" stroke-width="1" x="0.5" y="0.5" width="84.4414062" height="68"></rect>
            </g>
            <text id="No" font-family="HelveticaNeue, Helvetica Neue" font-size="20" font-weight="normal" fill="#000000">
                <tspan x="30.04" y="42">No</tspan>
            </text>
        </g>
        <g id="Group-5" transform="translate(168.000000, 536.000000)">
            <g id="Rectangle">
                <use fill="#FFFFFF" fill-rule="evenodd" xlink:href="#path-3"></use>
                <rect stroke="#000000" stroke-width="1" x="0.5" y="0.5" width="181" height="91.1992187"></rect>
            </g>
            <text id="Signal-Success-State" font-family="HelveticaNeue, Helvetica Neue" font-size="20" font-weight="normal" fill="#000000">
                <tspan x="63.4334375" y="31">Signal </tspan>
                <tspan x="52.8734375" y="54">Success </tspan>
                <tspan x="67.5034375" y="77">State</tspan>
            </text>
        </g>
        <g id="Group-5" transform="translate(0.000000, 164.000000)">
            <g id="Rectangle">
                <use fill="#FFFFFF" fill-rule="evenodd" xlink:href="#path-4"></use>
                <rect stroke="#000000" stroke-width="1" x="1.22265625" y="0.5" width="150.097656" height="91.1992187"></rect>
            </g>
            <text id="Signal-Failure-State" font-family="HelveticaNeue, Helvetica Neue" font-size="20" font-weight="normal" fill="#000000">
                <tspan x="15.8434375" y="42">Signal Failure </tspan>
                <tspan x="52.5034375" y="65">State</tspan>
            </text>
        </g>
        <rect id="Rectangle-2" fill="#000000" transform="translate(255.627417, 332.627417) rotate(-315.000000) translate(-255.627417, -332.627417) " x="239.627417" y="316.627417" width="32" height="32"></rect>
        <text id="Required-Data?" font-family="HelveticaNeue, Helvetica Neue" font-size="20" font-weight="normal" fill="#000000">
            <tspan x="285.279297" y="329">Required </tspan>
            <tspan x="285.279297" y="352">Data?</tspan>
        </text>
        <path d="M445.123604,116 L350,116" id="Line" stroke="#000000" fill="#000000" stroke-linecap="square"></path>
        <path id="Line-decoration-1" d="M350,116 L360.8,119 L360.8,113 L350,116 Z" stroke="#000000" fill="#000000" stroke-linecap="square"></path>
        <path d="M255.5,162.48261 L255.5,301.5" id="Line" stroke="#000000" fill="#000000" stroke-linecap="square"></path>
        <path id="Line-decoration-1" d="M255.5,301.5 L258.5,290.7 L252.5,290.7 L255.5,301.5 Z" stroke="#000000" fill="#000000" stroke-linecap="square"></path>
        <path d="M255.5,472.5 L255.5,535.531738" id="Line" stroke="#000000" fill="#000000" stroke-linecap="square"></path>
        <path id="Line-decoration-1" d="M255.5,535.531738 L258.5,524.731738 L252.5,524.731738 L255.5,535.531738 Z" stroke="#000000" fill="#000000" stroke-linecap="square"></path>
        <path d="M233.517173,333 L122.489867,333" id="Line" stroke="#000000" fill="#000000" stroke-linecap="square"></path>
        <path id="Line-decoration-1" d="M122.489867,333 L133.289867,336 L133.289867,330 L122.489867,333 Z" stroke="#000000" fill="#000000" stroke-linecap="square"></path>
        <path d="M75.9086914,299.541848 L75.9086914,258.429379" id="Line" stroke="#000000" fill="#000000" stroke-linecap="square"></path>
        <path id="Line-decoration-1" d="M75.9086914,258.429379 L72.9086914,269.229379 L78.9086914,269.229379 L75.9086914,258.429379 Z" stroke="#000000" fill="#000000" stroke-linecap="square"></path>
        <path d="M152.589098,210 L254.560084,210" id="Line" stroke="#000000" fill="#000000" stroke-linecap="square"></path>
        <path id="Line-decoration-1" d="M254.560084,210 L243.760084,207 L243.760084,213 L254.560084,210 Z" stroke="#000000" fill="#000000" stroke-linecap="square"></path>
        <g id="Group-3" transform="translate(443.573380, 115.695312)" stroke="#000000" stroke-linecap="square">
            <path d="M1.65943141,2.57120691 L1.65943141,467.213267" id="Line-2"></path>
        </g>
        <g id="Group-3" transform="translate(397.500000, 583.000000) scale(-1, 1) rotate(-90.000000) translate(-397.500000, -583.000000) translate(394.500000, 534.500000)" stroke="#000000" stroke-linecap="square">
            <path d="M2.88675233,0.528709218 L2.88675233,96.0715998" id="Line-2"></path>
        </g>
        <path d="M255.5,356.402278 L255.5,402.5" id="Line" stroke="#000000" fill="#000000" stroke-linecap="square"></path>
        <path id="Line-decoration-1" d="M255.5,402.5 L258.5,391.7 L252.5,391.7 L255.5,402.5 Z" stroke="#000000" fill="#000000" stroke-linecap="square"></path>
        <path d="M255.5,23.4022777 L255.5,69.5" id="Line" stroke="#000000" fill="#000000" stroke-linecap="square"></path>
        <path id="Line-decoration-1" d="M255.5,69.5 L258.5,58.7 L252.5,58.7 L255.5,69.5 Z" stroke="#000000" fill="#000000" stroke-linecap="square"></path>
        <g id="Group" transform="translate(217.000000, 404.000000)">
            <g id="Rectangle">
                <use fill="#FFFFFF" fill-rule="evenodd" xlink:href="#path-5"></use>
                <rect stroke="#000000" stroke-width="1" x="0.5" y="0.5" width="84.4414062" height="68"></rect>
            </g>
            <text id="Yes" font-family="HelveticaNeue, Helvetica Neue" font-size="20" font-weight="normal" fill="#000000">
                <tspan x="26.15" y="42">Yes</tspan>
            </text>
        </g>
        <text id="User" font-family="HelveticaNeue, Helvetica Neue" font-size="20" font-weight="normal" fill="#000000">
            <tspan x="238.08" y="19">User</tspan>
        </text>
    </g>
</svg>
