<svg width="250" viewBox="0 0 448 593" style="margin:30px auto;">
    <defs>
        <rect id="path-1" x="0" y="0" width="182" height="92.1992187"></rect>
        <rect id="path-2" x="0" y="0" width="136.779297" height="100"></rect>
        <rect id="path-3" x="0" y="0" width="182" height="92.1992187"></rect>
        <rect id="path-4" x="0" y="0" width="151" height="81"></rect>
    </defs>
    <g id="Feedback-Loop-Basic" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="feedback-loop-basic">
            <g id="Group-4" transform="translate(164.000000, 84.000000)">
                <g id="Rectangle">
                    <use fill="#FFFFFF" fill-rule="evenodd" xlink:href="#path-1"></use>
                    <rect stroke="#000000" stroke-width="1" x="0.5" y="0.5" width="181" height="91.1992187"></rect>
                </g>
                <text id="Controller-Ready-Sta" font-family="HelveticaNeue, Helvetica Neue" font-size="20" font-weight="normal" fill="#000000">
                    <tspan x="47.12" y="42">Controller</tspan>
                    <tspan x="36.18" y="65">Ready State</tspan>
                </text>
            </g>
            <g id="Group-2" transform="translate(12.000000, 218.000000)">
                <g id="Rectangle">
                    <use fill="#FFFFFF" fill-rule="evenodd" xlink:href="#path-2"></use>
                    <rect stroke="#000000" stroke-width="1" x="0.5" y="0.5" width="135.779297" height="99"></rect>
                </g>
                <text id="Output-Fed-Back-To-C" font-family="HelveticaNeue, Helvetica Neue" font-size="20" font-weight="normal" fill="#000000">
                    <tspan x="17.6196484" y="35">Output Fed </tspan>
                    <tspan x="31.3496484" y="58">Back To </tspan>
                    <tspan x="24.5096484" y="81">Controller</tspan>
                </text>
            </g>
            <g id="Group-5" transform="translate(164.000000, 487.000000)">
                <g id="Rectangle">
                    <use fill="#FFFFFF" fill-rule="evenodd" xlink:href="#path-3"></use>
                    <rect stroke="#000000" stroke-width="1" x="0.5" y="0.5" width="181" height="91.1992187"></rect>
                </g>
                <text id="Perform-Action-And-F" font-family="HelveticaNeue, Helvetica Neue" font-size="20" font-weight="normal" fill="#000000">
                    <tspan x="24.46" y="31">Perform Action </tspan>
                    <tspan x="22.78" y="54">And Feed Back</tspan>
                    <tspan x="33.36" y="77">To Controller</tspan>
                </text>
            </g>
            <rect id="Rectangle-2" fill="#000000" transform="translate(249.000000, 265.000000) rotate(-315.000000) translate(-249.000000, -265.000000) " x="233" y="249" width="32" height="32"></rect>
            <text id="A-Thing-Happens" font-family="HelveticaNeue, Helvetica Neue" font-size="20" font-weight="normal" fill="#000000">
                <tspan x="282" y="261">A Thing </tspan>
                <tspan x="282" y="284">Happens</tspan>
            </text>
            <path d="M248.5,177.492188 L248.5,241.5" id="Line" stroke="#000000" fill="#000000" stroke-linecap="square"></path>
            <path id="Line-decoration-1" d="M248.5,241.5 L251.5,230.7 L245.5,230.7 L248.5,241.5 Z" stroke="#000000" fill="#000000" stroke-linecap="square"></path>
            <path d="M248.5,428.5 L248.5,485.5" id="Line" stroke="#000000" fill="#000000" stroke-linecap="square"></path>
            <path id="Line-decoration-1" d="M248.5,485.5 L251.5,474.7 L245.5,474.7 L248.5,485.5 Z" stroke="#000000" fill="#000000" stroke-linecap="square"></path>
            <path d="M227.517714,264 L153.498311,264" id="Line" stroke="#000000" fill="#000000" stroke-linecap="square"></path>
            <path id="Line-decoration-1" d="M153.498311,264 L164.298311,267 L164.298311,261 L153.498311,264 Z" stroke="#000000" fill="#000000" stroke-linecap="square"></path>
            <g id="Group-6" transform="translate(63.000000, 129.000000)" stroke="#000000" stroke-linecap="square">
                <path d="M2.467967,1 L100.039638,1" id="Line" fill="#000000"></path>
                <path id="Line-decoration-1" d="M100.039638,1 L89.2396375,-2 L89.2396375,4 L100.039638,1 Z" fill="#000000"></path>
                <g id="Group-3" transform="translate(0.131816, 1.080566)">
                    <path d="M1.93932936,0.0274652497 L1.93932936,87.4140427" id="Line-2"></path>
                </g>
            </g>
            <path d="M441.123604,131 L346,131" id="Line" stroke="#000000" fill="#000000" stroke-linecap="square"></path>
            <path id="Line-decoration-1" d="M346,131 L356.8,134 L356.8,128 L346,131 Z" stroke="#000000" fill="#000000" stroke-linecap="square"></path>
            <g id="Group-3" transform="translate(440.000000, 128.000000)" stroke="#000000" stroke-linecap="square">
                <path d="M1.45282953,2.25108751 L1.45282953,409.044463" id="Line-2"></path>
            </g>
            <g id="Group-3" transform="translate(394.000000, 537.500000) scale(-1, 1) rotate(-90.000000) translate(-394.000000, -537.500000) translate(391.000000, 489.000000)" stroke="#000000" stroke-linecap="square">
                <path d="M2.88675233,0.528709218 L2.88675233,96.0715998" id="Line-2"></path>
            </g>
            <path d="M248.5,287.5 L248.5,345.50862" id="Line" stroke="#000000" fill="#000000" stroke-linecap="square"></path>
            <path id="Line-decoration-1" d="M248.5,345.50862 L251.5,334.70862 L245.5,334.70862 L248.5,345.50862 Z" stroke="#000000" fill="#000000" stroke-linecap="square"></path>
            <g id="Group" transform="translate(175.000000, 347.000000)">
                <g id="Rectangle">
                    <use fill="#FFFFFF" fill-rule="evenodd" xlink:href="#path-4"></use>
                    <rect stroke="#000000" stroke-width="1" x="0.5" y="0.5" width="150" height="80"></rect>
                </g>
                <text id="Output-Modifies-Syst" font-family="HelveticaNeue, Helvetica Neue" font-size="20" font-weight="normal" fill="#000000">
                    <tspan x="44.3" y="25">Output </tspan>
                    <tspan x="37.1" y="48">Modifies </tspan>
                    <tspan x="41.72" y="71">System</tspan>
                </text>
            </g>
            <path d="M252.5,37.4022777 L252.5,83.5" id="Line" stroke="#000000" fill="#000000" stroke-linecap="square"></path>
            <path id="Line-decoration-1" d="M252.5,83.5 L255.5,72.7 L249.5,72.7 L252.5,83.5 Z" stroke="#000000" fill="#000000" stroke-linecap="square"></path>
            <text id="User" font-family="HelveticaNeue, Helvetica Neue" font-size="20" font-weight="normal" fill="#000000">
                <tspan x="234.58" y="33">User</tspan>
            </text>
        </g>
    </g>
</svg>
