---json
{
    "permalink" : "/feeds/syndication/notes.json",
    "eleventyExcludeFromCollections" : true,
    "metadata" : {
        "url": "https://vincentp.me/"
    }
}
---
[
{%- for note in collections.notes | reverse -%}
     {% set absoluteNoteUrl %}{{ note.url | url | absoluteUrl(metadata.url) }}{% endset %}
    {
        "id": {{loop.revindex}},
        "date": "{{ note.date |  dateToISO }}",
        "url": "{{absoluteNoteUrl }}",
        "content": {{ note.templateContent | htmlToAbsoluteUrls(absoluteNoteUrl) | doubleToSingleQuotes | dump | safe }},
        "tags": "{{ note.data.tags }}",
        "syndicate" : {{ note.data.syndication | string }}
    }
    {%- if not loop.last -%},{%- endif -%}
    {% endfor %}
]
 {# "link": "{{ note.data.link }}", #}
