<ul class="ma0 mb5 pa0">
    <li class="list dib mr8"><a href="/" class="f6 rm-underline {% if category === 'Lifestream' -%}red{%- endif -%}" title="A stream of my daily life">All</a></li>
    <li class="list dib mr8"><a href="/photos" class="f6 rm-underline {% if category === 'Photos' -%}red{%- endif -%}" title="Photo posts">Photos</a></li>
</ul>
