<ul class="ma0 mb5 pa0">
    <li class="list dib mr8"><a href="/" class="f6 rm-underline {% if category === 'Lifestream' -%}red{%- endif -%}" title="A stream of my daily life">All</a></li>
    <li class="list dib mr8"><a href="/photos" class="f6 rm-underline {% if category === 'Photos' -%}red{%- endif -%}" title="Photo posts">Photos</a></li>
    <li class="list dib mr8"><a href="/replies" rel="me" class="f6 rm-underline {% if category === 'Replies' -%}red{%- endif -%}" title="Conversation replies" >Replies</a></li>
    <li class="list dib"><a href="/rsvp" rel="me" class="f6 rm-underline {% if category === 'RSVPS' -%}red{%- endif -%}" title="Conversation rsvp" >Events</a></li>
</ul>
