<time class="dt-published db f7 grey" datetime="{{ post.date | dateToISO}}">
    <a href="{{ post.url }}" class="u-url rm-underline" title="{{ post.data.title }}">{{ post.data.date | date('Do MMM YYYY') }} <span>at</span> {{ post.data.date | date('HH:mm') }}</a>
</time>
