<time class="dt-published db f7 grey" datetime="{{ post.data.date }}">
    <a href="{{ post.url }}" class="u-url rm-underline" title="{{ post.data.date }}">{%if post.data.timezone %}{{ post.data.date | ukDate}}{%else%}{{ post.data.date | kiwiDate}}{%endif%}</a>
</time>
