a {
    color: brand(red);
    padding : 0.2rem;
}

a:link {

}

a:active {

}

a:visited {

}

a:hover {
    text-decoration:none;
}


a:focus{
    color: brand(white);
    background-color: brand(red);
    text-decoration: none;
    transition:0.2s;
    outline: none;
}
