a {
    // color: brand(red);
    color: inherit;
    padding : 0.2rem;
}

a:link {
    text-decoration:underline;
}

a:active {
    text-decoration:underline;
}

a:visited {
    text-decoration:underline;
}

a:hover {
    text-decoration:none;
}


a:focus{
    color: brand(white);
    background-color: brand(red);
    text-decoration: none;
    transition:0.2s;
    outline: none;
}
