@font-face {
  font-family: 'mp-mallory-light';
  src: url(../font/MalloryMP-Light.woff) format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'mp-mallory-light-italic';
  src: url(../font/MalloryMP-LightItalic.woff) format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'mp-mallory-book';
  src: url(../font/MalloryMP-Book.woff) format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'mp-mallory-book-italic';
  src: url(../font/MalloryMP-BookItalic.woff) format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'mp-mallory-medium';
  src: url(../font/MalloryMP-Medium.woff) format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'mp-mallory-medium-italic';
  src: url(../font/MalloryMP-MediumItalic.woff) format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'mp-mallory-bold';
  src: url(../font/MalloryMP-Bold.woff) format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'mp-mallory-bold-italic';
  src: url(../font/MalloryMP-BoldItalic.woff) format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'mp-mallory-black';
  src: url(../font/MalloryMP-Black.woff) format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'mp-mallory-black-italic';
  src: url(../font/MalloryMP-BlackItalic.woff) format('woff');
  font-weight: normal;
  font-style: normal;
}


