@font-face {
  font-family: 'mp-mallory-light';
  src: url(../font/MalloryMP-Light.woff);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'mp-mallory-light-italic';
  src: url(../font/MalloryMP-LightItalic.woff);
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'mp-mallory-book';
  src: url(../font/MalloryMP-Book.woff);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'mp-mallory-book-italic';
  src: url(../font/MalloryMP-BookItalic.woff);
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'mp-mallory-medium';
  src: url(../font/MalloryMP-Medium.woff);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'mp-mallory-medium-italic';
  src: url(../font/MalloryMP-MediumItalic.woff);
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'mp-mallory-bold';
  src: url(../font/MalloryMP-Bold.woff);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'mp-mallory-bold-italic';
  src: url(../font/MalloryMP-BoldItalic.woff);
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'mp-mallory-black';
  src: url(../font/MalloryMP-Black.woff);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'mp-mallory-black-italic';
  src: url(../font/MalloryMP-BlackItalic.woff);
  font-weight: normal;
  font-style: italic;
}
