/*
704.562px  46.971em
435.453px  29.03em
269.13px  17.942em
166.335px  11.089em
102.803px  6.854em
63.537px  4.236em
39.269px  2.618em
24.27px  1.618em
15px  1em
9.271px  0.618em
5.73px  0.382em
3.541px  0.236em
2.189px  0.146em
1.353px  0.09em
*/

$sizes: (
    px704 : 47rem,
    px435 : 29rem,
    px269 : 18rem,
    px166 : 11rem,
    px102 : 6.8rem,
    px63 : 4.2rem,
    px39 : 2.6rem,
    px24 : 1.6rem,
    px15 : 1rem,
    px9 :  0.6rem,
    px5 :  0.38rem,
    px3 :  0.23rem,
    px2 :  0.14rem,
    px1 :  0.09rem
);

//Create a quick reference to the contents of the map
@function size($key) {
    @if map-has-key($sizes, $key) {
        @return map-get($sizes, $key);
    }
    @warn "Unknown `#{$key}` in $sizes.";
    @return null;
}

//Make each value in the map available as a handy class
// @each $value, $size in $sizes {
//     .#{$value}{
//         font-size: $size;
//     }
// }
