//local vars
$column-width: 36em;

h1 {
    font-family: 'mp-mallory-bold', sans-serif;
    font-size : size(large);
}

h2 {
    font-family: 'mp-mallory-light', sans-serif;
    font-size: size(medium);
    padding: size(regular) 0 0 0;
    margin: 0 0 size(regular)  0 ;
}

p {
    max-width: $column-width;
    margin-bottom: size(regular) ;
}

/*
Typography
*/



b,
strong {
    font-weight: bolder;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

 sub,
 sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

blockquote{
    max-width: $column-width;
    font-style: italic;
}

// code,
// kbd,
// pre,
// samp {
//     font-family: monospace;
//     font-size: 1em;
// }

// pre {
//     margin:0 0 2em 0;
//     padding:0.6em;
//     background-color: #f8f8f8;
//     border:1px solid currentColor;
//     border-radius: 2px;
// }

ul,ol {
    margin:0 0 size(regular) 0;
    // padding-left:0;
}

li {
    max-width: $column-width;
    margin-bottom: 6px ;
}
