//local vars
$column-width: 38em;
$column-spacing: size(regular);

h1 {
    font-family: 'mp-mallory-black', sans-serif;
    font-size : size(large);
    padding: 0;
    margin: 0;
    line-height: 1;
}

h2 {
    font-family: 'mp-mallory-bold', sans-serif;
    font-size: size(small);
    text-transform: uppercase;
    padding: 0;
    margin: 0 0 8px 0;
    line-height: 1;
}

p {
    max-width: $column-width;
    margin: 0 0  30px 0;
}

small,
aside{
    font-family: mp-mallory-book;
    font-size: size(x-small);
    text-transform:uppercase;
}

aside h2{
    font-size: size(x-small);
}

/*
Typography
*/
ul + h2,
ol + h2  {
    padding-top:15px;
}


b,
strong {
    font-family: 'mp-mallory-bold';
    font-weight: normal;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

 sub,
 sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

q,
blockquote {
    display: block;
    font-family: 'mp-mallory-book-italic';
    max-width: $column-width;
    border-left: 6px solid brand(red);
    padding:10px 10px 10px 30px;
    margin-bottom: 30px;
}

blockquote > p { margin:0;     font-size:13px; }

blockquote > p::before{
    content: '\201C';
}

blockquote > p::after{
content: '\201D';
}

time {
    font-family: 'mp-mallory-book-italic';
    margin:6px 0 30px 0;
}


ul,ol {
    margin:0 0 size(regular) 0;
    padding-left:0;
}

li {
    max-width: $column-width;
    // margin-bottom: 6px ;
}

figcaption{
       font-family: 'mp-mallory-light-italic';
       font-size: size(small);
}

// code,
// kbd,
// pre,
// samp {
//     font-family: monospace;
//     font-size: 1em;
// }

// pre {
//     margin:0 0 2em 0;
//     padding:0.6em;
//     background-color: #f8f8f8;
//     border:1px solid currentColor;
//     border-radius: 2px;
// }
