//colour map here
$brands: (
    black :  rgba(17, 17, 17, 1),
    grey :  rgba(35, 35, 35, 1),
    lightGrey :  rgba(138, 138, 138, 0.5),
    white :  rgba(255, 255, 255, 1),
    red : rgba(200, 53, 57, 1)
);

//Create a quick reference to the contents of the map
@function brand($key) {
    @if map-has-key($brands, $key) {
        @return map-get($brands, $key);
    }
    @warn "Unknown `#{$key}` in $brands.";
    @return null;
}

//Make each value in the map available as a handy color class
// @each $value, $brand in $brands {
//     .#{$value}{
//         color: $brand;
//     }
// }

//Make each value in the map available as a handy bg-color class
// @each $value, $brand in $brands {
//     .bg-#{$value}{
//         background-color: $brand;
//     }
// }
