@supports (display: grid) {
    .layoutGrid {
        display: grid;
        grid-template-columns:
            [full-start] minmax(1em, 1fr)
            [main-start] minmax(0, var(--column-width))
            [main-end] minmax(1em, 1fr)
            [full-end];
    }

    .layoutGrid > * {
        grid-column: main;
    }

    .layoutGrid > .highlighter-rouge,
    .layoutGrid > img {
        grid-column: full;
    }
}
