@supports (display: grid) {
    nav,
    main,
    footer,
    .grid{
        display: grid;
        margin: auto;
        max-width: 58.051rem;
        grid-template-rows:  repeat(3, auto);
    }

    nav {
        grid-template-columns:  repeat(3, 1fr);
        /*background-color: red!important;*/
    }

    main {
        grid-template-columns:  1fr minmax(1em, 31.475rem) 1fr;
/*        grid-column-start: span 2;
        grid-column-end: 5;*/
        /*background-color: blue!important;*/
    }

    footer {
        /*grid-template-columns:  1fr minmax(1em, 31.475rem) 1fr;*/
        /*background-color: green!important;*/
    }

    /*.grid {
        margin: auto;
        display: grid;
        grid-template-rows: auto;
        max-width: 58.051rem;
        grid-template-columns:
            minmax(13.288rem, 1fr) minmax(1em, 31.475rem) minmax(1em, 13.288rem);
    }*/
}

/*
*11*
*12*
1111


*/
