.grid-header {
    padding: 0;
    display: block;
    width: 100%;
    text-align: center;
}

main {
    margin: auto;
    min-width: 240px;
    max-width: 620px;
}

@media all and (min-width: 640px) {
    .grid-header {
        padding: 0 1rem 0 1rem;
        text-align: left;
    }

    @supports (display: grid) {
        .grid-header {
            display: grid;
            grid-template-columns: 50% 50%;
        }
    }

    .grid-header,
    main {
        margin: auto;
        max-width: 740px;
        min-width: 620px;
    }
}
