<footer class="dg layout-grid f-mono white bg-black pv5 f7 tc">
    <div>
        <p class="mb7">Running on <a href="https://www.11ty.dev/" rel="external" class="underline-no-hover">Eleventy</a>. Hosted on <a href="https://www.netlify.com/" rel="external" class="underline-no-hover">Netlify</a>, <a href="https://github.com/" rel="external" class="underline-no-hover">Github</a></p>
        <p class="mb5">Unless specified, the content on this site is published under a <a href="{{site.author.github.repo}}/blob/master/LICENSE" rel="external" class="underline-no-hover">MIT License</a>.</p>
        {% include "structure/copyright.njk" %}
    </div>
    <p class="ma8"><a href="#top">Back to top</a></p>
</footer>
