<div class="h-card dg layout-grid pv5 front">
    <div class="dg two-col-grid mb5">
        <img src="{{site.author.profilePic}}" width="90" class="db br-circle u-photo" alt="A picture of the site author Vincent Pickering">
        <div class="mw-strap-length">
            <p class="f5-ns f6 ma0 pa0"><span class="p-name">{{site.author.name}}</span>(<a href="https://en.wiktionary.org/wiki/he#Pronoun" class="u-pronoun">he/him</a>) is a <span class="p-job-title">{{site.author.job}}</span> at  the {{site.author.employer}} living in <span class="p-locality">Wellington</span>, <span class="p-country-name">New Zealand</span></p>
            <p class="f5-ns f6 ma0 pa0 mb5"><strong><a href="mailto:{{site.author.email}}"  rel="me" title="Get in contact" class="hover-red u-email underline-no-hover">Contact me</a></strong> or <strong><a href="/feeds"  rel="me" title="Follow Vincent Pickering" class="hover-red underline-no-hover">Follow me</a></strong></p>
            <p>
                <a href="{{site.url}}" class="u-url dn"></a>
                <a href="{{site.author.github.url}}" rel="me external" class="u-url rm-underline white dib w-20-fixed mr--fixed-4 hover-red black" title="View my work on Github"><span class="offscreen">Github</span>{% include "../../icons/github.njk" %}</a>
                <a href="{{site.author.twitter.url}}" rel="me external" class="u-url rm-underline white dib w-20-fixed mr--fixed-4 hover-red black" title="Follow me on Twitter"><span class="offscreen">Twitter</span>{% include "../../icons/twitter.njk" %}</a>
                <a href="{{site.author.arena.url}}" rel="me external" class="u-url rm-underline white dib w-20-fixed hover-red black" title="Follow me on Are.na"><span class="offscreen">Are.na</span>{% include "../../icons/arena.njk" %}</a>
            </p>
        </div>
    </div>
</div>
