<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

<meta name="description" content="{{site.description}}" />
<meta name="robots" content="index,follow,noodp,noydir" />
<meta name="google" content="nositelinkssearchbox" />
<meta name="subject" content="Web design including: UI, UX, HTML, CSS, JavaScript and Node" />

<link rel="canonical" href="{{site.url}}" />
<link rel="author" type="text/plain"  href="/humans.txt" />

<!-- Icons -->
<link rel="apple-touch-icon" href="/images/favicons/apple-touch-icon.png" />
<link rel="icon" type="image/png" href="/images/favicons/favicon-32x32.png" sizes="32x32" />
<link rel="icon" type="image/png" href="/images/favicons/favicon-16x16.png" sizes="16x16" />
<link rel="manifest" href="/manifest.webmanifest" />
<link rel="mask-icon" href="/images/favicons/safari-pinned-tab.svg" color="#c83539" />
<meta name="theme-color" content="#ffffff" />

<!--Around The Web -->
<link rel="me" href="{{site.author.github.url}}"/>
<link rel="me" href="{{site.author.arena.url}}"/>
<link rel="me" href="{{site.author.bluesky.url}}"/>
<link rel="me" href="{{site.author.linkedin.url}}"/>

<!-- Feeds -->
<link rel="home alternate feed" type="application/json" title="Vincent Pickering Lifestream" href="https://vincentp.me/feeds/feed.json" />
<link rel="alternate feed" type="application/xml" title="Vincent Pickering Lifestream" href="https://vincentp.me/feeds/feed.xml" />