<a href="#content" title="Get to the article" class="visuallyhidden">Skip to content</a>

<header class="dg layout-grid pv5 tl" id="#top">
    <div class="dg nav-grid">
       <a href="/" title="vincentp.me" class="u-url dib rm-underline" data-type="logo"><span class="p-name ma0 pa0 f6 fw7">Vincent Pickering</span></a>
        <nav>
            <ul class="ma0 pa0">
                <li class="list dib mr5"><a href="/articles" rel="me" class="rm-underline f6 {% if category === 'Articles' -%}red{%- endif -%}" title="Longer articles on topics">Articles</a></li>
                <li class="list dib mr5"><a href="/weeknotes" rel="me" class="rm-underline f6 {% if category === 'Weeknotes' -%}red{%- endif -%}" title="Weeknotes">Weeknotes</a></li>
                <li class="list dib mr5"><a href="/notes" class="rm-underline f6 {% if category === 'Notes' -%}red{%- endif -%}" title="Day to day notes and happenings">Notes</a></li>
                <li class="list dib"><a href="/about" rel="me" class="rm-underline f6 {% if category === 'About' -%}red{%- endif -%}" title="Background information and past experience" >About</a></li>
            </ul>
        </nav>
    </div>
</header>
