{% assign mentionsAvailable = false %}

{% for comment in comments %}
    {% if thisUrl == comment.mention-of %}
        {% assign mentionsAvailable = true %}
    {% endif %}
{% endfor%}

{% if mentionsAvailable == true %}
    <h2 class="lh-one f5 red mb7 pa0">Mentions</h2>
    {% for comment in comments %}
        {% if thisUrl == comment.mention-of %}

  {% if comment.url contains "https://medium.com/@vincentlistens/" %}
                    <article class="h-cite p-comment reply-relation mb5">
                        <h3 class="f6 p-author h-card ma0 pa0">Also syndicated to: <a href="{{comment.url  | replace: 'http://', 'https://'}}" title="Read this story on {{comment.url  | replace: 'http://', 'https://'}}" rel="external" class="u-syndication">Medium</a></h3>
                    </article>
                </article>
        {% endif %}

        {% endif %}
     {% endfor%}
{% endif %}
