    <form name="webmention" method="POST"  action="https://webmention.io/vincentp.me/webmention" class="mb2">
        <h2 class="lh-one f5 red mb7 pa0">Have you responded to this?</h2>
        <label for="webmention-source" class="f6 fw7">Let me know the <abbr title="Uniform Resource Locator" class="f6 fw7">URL</abbr></label>:
        <input type="url" name="source" placeholder="https://example.com" id="webmention-source" class="db w-100 f5 pa7 mb7">
        <input type="hidden" name="target" name="submitPing" value="{{site.url}}{{page.url}}">
        <input type="submit" value="Submit!" class="pa7 fw7 f7 bg-red white ba0 hover-button">
    </form>
