<form name="webmention" method="POST"  action="{{site.url}}/thanks" class="mb2" netlify >
    <h2 class="lh-one f5 red mb7 pa0">Have you responded to this?</h2>
    <label for="webmention-source" class="f6 fw7">Let me know the <abbr title="Uniform Resource Locator" class="f6 fw7">URL</abbr></label>:
    <input type="url" name="source" id="sourceID" placeholder="https://example.com" id="webmention-source" class="db w-100 f5 pa7 mb7">
    <input type="hidden" name="target" id="targetID" value="{{site.url}}{{page.url}}">
    <input type="submit" value="Submit" class="pa7 fw7 f7 bg-red white ba0 hover-button" id="submitBtn">
</form>
