{% assign repostsAvailable = false %}

{% for comment in comments %}
    {% if thisUrl == comment.target and comment.activity.type == "repost" %}
        {% assign repostsAvailable = true %}
    {% endif %}
{% endfor%}

{% if repostsAvailable == true %}
<h2 class="lh-one f5 red mb7 pa0">Shares</h2>
<article class="h-cite p-comment reply-relation mb2">
    <ul class="ma0 pa0">
        {% for comment in comments %}
            {% if thisUrl == comment.target and comment.activity.type == "repost" %}
                <li class="dib list"><a href="{{comment.data.author.url}}" class="p-name u-url" rel="external"><img src="{{comment.data.author.photo }}" alt="{{comment.data.author.name}}" class="u-photo photo br-circle" width="40" height="40"></a></li>
            {% endif %}
        {% endfor%}
    </ul>
</article>
{% endif %}
