{% assign repliesAvailable = false %}

{% for comment in comments %}
    {% if thisUrl == comment.target and comment.activity.type == "reply"%}
        {% assign repliesAvailable = true %}
    {% endif %}
{% endfor%}

{% if repliesAvailable == true %}
    <h3 class="f5 red b-dashed-top bt b-light-grey ma0 pt5 mb7">Activity</h3>
    <div class="b-dashed-bottom bb b-light-grey pb5">
        {% for comment in comments %}
        {% if thisUrl == comment.target and comment.activity.type == "reply" %}
                <article class="h-cite p-comment reply-relation">
                    <h3 class="f6 ma0 pa0"></h3>
                    <div class="p-author h-card">
                        <img src="{{comment.data.author.photo }}" alt="{{comment.data.author.url  | replace: 'http://', 'https://'}}" class="u-photo photo br-circle fl mr7" width="30" height="30">
                        <a href="{{comment.data.author.url  | replace: 'http://', 'https://' }}" class="p-name u-url fl mt--fixed-4" rel="external">{{comment.data.author.name }}</a>
                        <a href="{{comment.data.url  | replace: 'http://', 'https://'}}"><span class="fl ma8">swarm icon</span></a>
                    </div>
                    <div class="e-content p-summary p-name reply-content cf mv5">
                        <p class="f6">{{comment.data.content}}</p>
                       <p class="f6">{{comment.data.sentence_html}}</p>
                        <p class="f6">{{comment.data.swarm_coins}} <time class="published-datetime f7 grey" datetime="{{ comment.verified_date | date_to_xmlschema }}">posted on {{comment.verified_date | date_to_long_string: "ordinal" }} at {{comment.verified_date | date: "%H" }}:{{ comment.verified_date | date: "%M%P" }}</time></p>
                    </div>
                </article>
        {% endif %}
     {% endfor%}
     </div>
{% endif %}
