@supports (font: -apple-system-body) {
    * {
        font: -apple-system-body;
    }

    small {
        font: -apple-system-footnote;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font: -apple-system-headline;
    }

    footer * {
        font: -apple-system-short-footnote;
    }
}

/*
-apple-system-headline
-apple-system-subheadline
-apple-system-short-headline
-apple-system-short-subheadline
-apple-system-body
-apple-system-short-body
-apple-system-tall-body
-apple-system-caption1
-apple-system-caption2
-apple-system-short-caption1
-apple-system-footnote
-apple-system-short-footnote
*/
