.rm-underline {
    text-decoration: none;
}

.underline-no-hover:hover {
    text-decoration: none;
}

.hover-menu:hover {
    color: var(--red);
}

.hover-red:hover {
    color: var(--red);
    background-color: var(--black);
}

.hover-white:hover {
    color: var(--white);
    transition: 0.2s;
}
