/*
Typographic Scale
--
704.562px     46.971em
590px            39.333em
480px            32em               column-width
435.453px     29.03em
364.648px     24.31em
269.13px        17.942em
225.369px     15.025em
166.335px      11.089em
139.289px      9.286em
102.803px      6.854em
86.087px        5.739em
63.537px        4.236em
53.206px        3.547em
39.269px        2.618em     large f1
32.884px        2.192em     medium2 f2
24.27px          1.618em      subHeading f3
20.324px        1.355em     f4
15px               1em              f5
12.561px        0.837em     f6
11.04px          0.7em          f7
7.763px          0.518em
5.73px            0.382em    f8
4.798px         0.32em
3.541px         0.236em
--
*/

.f1 {
    font-size: var(--f1);
}

.f2 {
    font-size: var(--f2);
}

.f3 {
    font-size: var(--f3);
}

.f4 {
    font-size: var(--f4);
}

.f5 {
    font-size: var(--f5);
}

.f6,
.dt-updated {
    font-size: var(--f6);
}

.f7,
small {
    font-size: var(--f7);
}

@media (--not-mobile) {
    .f1-ns {
        font-size: var(--f1);
    }

    .f3-ns {
        font-size: var(--f3);
    }

    .f4-ns {
        font-size: var(--f4);
    }
}
