time {
    font-size: 0.85rem;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--red);
    letter-spacing: 0.05rem;
    font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0;
}

code {
    font-size: 0.8rem;
}

sup {
    position: relative;
    line-height: 0;
    top: -0.5em;
    font-weight: 700;
    font-size: 0.625rem;
    text-transform: lowercase;
    vertical-align: baseline;
    font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 0, "sups" 1;
}

em,
blockquote > p {
    font-style: italic;
}

address {
    font-style: normal;
}

em {
    font-weight: bold;
}

pre {
    margin: 0;
    padding: 0;
}

blockquote {
    border-left: 5px solid var(--lightGrey);
    background-color: var(--paleGrey);
    padding: 10px;
    margin: 0 0 20px 0;
}

blockquote > p {
    margin: 0;
}

figure {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
time {
    max-width: var(--column-width);
    font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 1;
}

h1 {
    margin: 0 0 1rem 0;
    text-transform: capitalize;
    font-size: 1.84rem;
}

h2 {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    letter-spacing: 0.01rem;
    text-transform: uppercase;
    line-height: 1.4;
}

h3 {
    margin: 0;
    font-size: 1rem;
    line-height: 1.4;
}

li,
p {
    color: var(--grey);
    line-height: 1.5;
    hyphens: none;
    font-kerning: normal;
}

p {
    margin-top: 0;
}

small {
    font-size: 0.625rem;
}

.dt-updated {
    color: var(--red);
}

.textReset {
    text-transform: lowercase;
    font-weight: 400;
    letter-spacing: initial;
}

@media all and (min-width: 640px) {
    h1 {
        font-size: 2rem;
    }

    h2 {
        margin: 40px 0 10px 0;
    }
}
