<footer class="vcard" itemscope itemtype="http://schema.org/Person" >
    <div class="grid grid-footer">
        <small role="contentinfo">&copy; 2016 <span itemprop="copyrightHolder" itemscope itemtype="http://schema.org/CreativeWork"><span itemprop="name">Vincent Pickering</span></span></small>

        {% include next-prev.html %}

        <address>
            <ul>
                <li><a href="{{site.author.twitter}}" itemprop="url"  title="Twitter" rel="me external">Twitter</a></li>
                <li><a href="{{site.author.github}}"   itemprop="url" title="Github" rel="me external">Github</a></li>
                <li><a href="{{site.author.googleplus}}" itemprop="url" title="Google +" rel="me external">Google</a></li>
                <li><a href="{{site.author.feed}}"  itemprop="url"  title="Feed" rel="me external">Feed</a></li>
            </ul>
        </address>
    </div>
</footer>
