<meta charset="utf-8" />
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- <meta http-equiv="Content-Security-Policy" content="default-src 'self'"> -->
<meta name="description" itemprop="description" content="{{page.meta}}" />
<meta name="robots" content="index,follow,noodp,noydir">
<meta name="google" content="nositelinkssearchbox">
<meta name="subject" content="Web design including: UI, UX, HTML, CSS, JavaScript and Node">

<link rel="canonical" href="{{site.url}}">
<link rel="author" type="text/plain"  href="http://vincenp.me/humans.txt" />

<!-- <link rel="webmention" href="https://example.com/webmention"> -->

<!-- Prefetch DNS for external assets -->
<link rel="dns-prefetch" href="//platform.twitter.com">
<link rel="dns-prefetch" href="//platform.twitter.com">
<link rel="dns-prefetch" href="https://twitter.com">

<!-- The Horror. The Sheer Horror. -->
<!--
Do These:
-->
<!-- <link rel="apple-touch-icon-precomposed" href="/images/apple-touch-icon-57x57-precomposed.png">
<link rel="apple-touch-icon-precomposed" href="/images/apple-touch-icon-76x76-precomposed.png">
<link rel="apple-touch-icon-precomposed" href="/images/apple-touch-icon-120x120-precomposed.png">
<link rel="apple-touch-icon-precomposed" href="/images/apple-touch-icon-152x152-precomposed.png">
<link rel="apple-touch-icon-precomposed" href="/images/apple-touch-icon-precomposed.png"> -->

<!-- Feeds -->
<link rel="alternate" type="application/rss+xml" title="RSS" href="http://vincentp.me/feed.xml" />
<link rel="alternate" type="application/atom+xml" href="http://feeds.feedburner.com/vincentp">

<!-- CSS -->
<link rel="stylesheet" href="/css/application.css">
<title>{{ page.title }}</title>
