<meta charset="utf-8" />
<title>{{ page.title }}</title>

<!-- Meta Data -->
<meta name="description" itemprop="description" content="{{page.meta}}" />
<meta name="robots" content="index, follow" />
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="apple-mobile-web-app-title" content="vincentp">
<link rel="canonical" href="{{site.url}}">

<!-- Prefetch DNS for external assets -->
<link rel="dns-prefetch" href="//platform.twitter.com">
<link rel="dns-prefetch" href="//platform.twitter.com">
<link rel="dns-prefetch" href="https://twitter.com">

<!-- The Horror. The Sheer Horror. -->
<link rel="icon" rel="Shortcut Icon" type="image/x-icon" href="/images/favicon.ico">
<link rel="apple-touch-icon-precomposed" href="/images/apple-touch-icon-57x57-precomposed.png">
<link rel="apple-touch-icon-precomposed" href="/images/apple-touch-icon-76x76-precomposed.png">
<link rel="apple-touch-icon-precomposed" href="/images/apple-touch-icon-120x120-precomposed.png">
<link rel="apple-touch-icon-precomposed" href="/images/apple-touch-icon-152x152-precomposed.png">
<link rel="apple-touch-icon-precomposed" href="/images/apple-touch-icon-precomposed.png">
<link rel="apple-touch-icon-precomposed" href="/images/apple-touch-icon.png">

<!-- Feeds -->
<link rel="alternate" type="application/rss+xml" title="RSS" href="http://vincentp.me/feed.xml" />
<link rel="alternate" type="application/atom+xml" href="http://feeds.feedburner.com/vincentp">

<!-- CSS -->
<link rel="stylesheet" href="/css/application.css">
