<nav class="group readNext" itemscope itemtype="http://schema.org/WebPage" role="navigation">
    <h2>Recently Blogged</h2>
    <div class="innerContent">
        {% if page.next.url %}
            <a href="{{page.next.url}}" title="next Post: {{page.next.title}}" itemprop="significantLink">{{page.next.title}}</a>
        {% else if page.previous.url %}
            <a href="{{page.previous.url}}" title="Previous Post: {{page.previous.title}}" itemprop="significantLink">{{page.previous.title}}</a>
        {% endif %}
    </div>
</nav>
