body,
.grid {
    display: flex;
    flex-flow: row wrap;
}

body >* {
    margin: auto;
    padding: 0 20px 0 20px;
    flex: 1 calc(100% - 40px);
    min-width: 300px;
    max-width: 740px;
    width: 300px;
}

.grid-header > * {
    flex: 2 50%;
}

.grid-footer > * {
    flex: 3 33%;
}

.grid-footer > :nth-child(0n+1) {
    text-align: left;
}

.grid-footer > :nth-child(0n+2) {
    text-align: center;
}

@media all and (min-width: 500px) {
   body >* { width: auto;}
}

@media all and (max-width: 600px) {
    .grid-header > *,
    .grid-footer > * { flex: 1 100%; }
}
