$gutter : 60px;

.grid-row::before,
.grid-row::after     { content: " "; display: table; }
.grid-row::after     { clear: both; }


//Consider here, mobile and tablet transforms.
//work within max and min widths of elements.

.column-one-third,
.column-two-thirds{
    float: left;
    display: inline-block;
}

.column-one-third{
  width: 34%;
}

.column-two-thirds{
    width: 66%;
    padding-right: $gutter;
}

// .height-two-thirds{
//     height: 75vh;
// }

// .height-one-third{
//     height: 25vh;
// }
