---json
{
    "permalink": "/feeds/articles.json",
    "eleventyExcludeFromCollections": true,
    "metadata": {
        "version": "https://jsonfeed.org/version/1",
        "title": "Articles by Vincent Pickering",
        "url": "https://vincentp.me/",
        "feedUrl": "https://vincentp.me/feeds/articles.json",
        "description" : "Web design including: UI, UX, HTML, CSS, JavaScript and Node",
        "icon" : "https://vincentp.me/images/vincentp.jpg",
        "favicon" : "https://vincentp.me/images/favicons/apple-touch-icon-76x76-precomposed.png",
        "author" : {
            "name" : "Vincent Pickering",
            "url" : "https://vincentp.me/",
            "avatar" : "https://vincentp.me/images/profile/vincentp@2x.jpg"
        }
    }
}
---
{
    "version": "{{metadata.version}}",
    "title": "{{metadata.title}}",
    "home_page_url": "{{metadata.url}}",
    "feed_url": "{{metadata.feedUrl}}",
    "description" : "{{metadata.description}}",
    "icon" : "{{metadata.icon}}",
    "favicon" : "{{metadata.favicon}}",
    "author" : {
            "name" : "{{metadata.author.name}}",
            "url" : "{{metadata.author.url}}",
            "avatar" : "{{metadata.author.avatar}}"
    },
     "items": [{% for post in collections.articles | reverse -%}
    {% set absolutePostUrl %}{{ post.url | url | absoluteUrl(metadata.url) }}{% endset %}
          {
            "author": {
                "url" : "{{metadata.author.url}}"
            },
            "title" : "{{ post.data.title }}",
            {%- if post.data.summary %}"summary": "{{ post.data.summary }}",  {%- endif %}
            "date_published" : "{{ post.date | dateToISO  }}"{% if post.data.modified %},
            "date_modified" : "{{ post.modified  | dateToISO}}"{% endif%},
            "id": {{loop.revindex}},
            "url": "{{absolutePostUrl }}",
            {%- if post.data.photo1Url %}
            "image": "{{metadata.url -}}{{- post.data.photo1Url }}",
            {%- endif %}
            "content_html": {{ post.templateContent | htmlToAbsoluteUrls(absolutePostUrl) | doubleToSingleQuotes | dump | safe }}
        }{%- if not loop.last -%},{%- endif -%}{% endfor %}
    ]
}
