---json
{
  "permalink": "/feeds/articles.xml",
  "eleventyExcludeFromCollections": true,
  "metadata": {
    "title": "Articles by Vincent Pickering",
    "description": "Articles by Vincent Pickering",
    "url": "https://vincentp.me/",
    "feedUrl": "https://vincentp.me/feeds/articles.xml"
  }
}
---
<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
<channel>
    <title>{{metadata.title}}</title>
    <description>{{metadata.description}}</description>
    <link>{{ metadata.url }}</link>
    <atom:link href="{{ metadata.feedUrl }}" rel="self" type="application/rss+xml"/>
    {% for post in collections.articles | reverse | limit(5) -%}
    {% set absolutePostUrl %}{{ post.url | url | absoluteUrl(metadata.url) }}{% endset %}
      <item>
        <title>{{ post.data.title }}</title>
        <link>{{ absolutePostUrl }}</link>
        <description>{{ post.templateContent  }}</description>
        <pubDate>{{ post.date }}</pubDate>
        <guid isPermaLink="true">{{ absolutePostUrl }}</guid>
      </item>
    {%- endfor %}
  </channel>
</rss>
