---json
{
  "permalink": "/feeds/feed.xml",
  "eleventyExcludeFromCollections": true,
  "metadata": {
    "author": "Vincent Pickering",
    "description": "lifestream feed",
    "contact" : "hello@vincentp.me",
    "url": "https://vincentp.me/",
    "image" : "https:/vincentp.me/images/vincentp.jpg",
    "feedUrl": "https://vincentp.me/feeds/feed.xml"
  }
}
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <id>{{ metadata.feedUrl }}</id>
  <title>{{metadata.description}}</title>
  <updated>{{ collections.lifestream | rssLastUpdatedDate }}</updated>
  <author>
    <name>{{ metadata.author }}</name>
    <email>{{metadata.contact}}</email>
    <uri>{{ metadata.url }}</uri>
  </author>
  <link rel="self" href="{{ metadata.feedUrl }}" type="application/atom+xml"/>
  <link rel="alternate" href="{{ metadata.url }}" type="text/html"/>
  <icon>{{metadata.image}}</icon>
  <rights>Unless specified, the content on this site is published under a MIT License</rights>
    {% for post in collections.lifestream | reverse | limit(10) -%}
    {% set absolutePostUrl %}{{ post.url | url | absoluteUrl(metadata.url) }}{% endset %}
        <entry>
            <id>{{ absolutePostUrl }}</id>
            <title>{{ post.data.title }}</title>
            <updated>{{ post.data.date }}</updated>
            <link href="{{ absolutePostUrl }}" rel="related" type="text/html"/>
            <content type="text">{{ post.templateContent }}</content>
        </entry>
{%- endfor %}
</feed>
