---json
{
    "permalink" : "/feeds/syndication.json",
    "eleventyExcludeFromCollections" : true,
    "metadata" : {
        "url": "https://vincentp.me/"
    }
}
---
[
{%- for post in collections.syndicated | reverse | limit(5) -%}
     {% set absolutePostUrl %}{{ post.url | url | absoluteUrl(metadata.url) }}{% endset %}
     {%for item in post.data.syndicationTargets%}
    {
        "date": "{{ post.date |  dateToISO }}",
        "url": "{{absolutePostUrl }}",
        "content": "{{ post.templateContent | truncate(220) | striptags(false) | escape }}",
         "target" : "{{item}}"
    }
    {%- if not loop.last -%},{%- endif -%}{%endfor%}
    {%- if not loop.last -%},{%- endif -%}
    {% endfor %}
]
