---json
{
    "permalink" : "/feeds/webmentions.json",
    "eleventyExcludeFromCollections" : true,
    "metadata" : {
        "url": "https://vincentp.me/"
    }
}
---
{%- set webmentionsToSend -%}
    {%- for post in collections.webmentions | lastly(5)  -%}
        {%- set absolutePostUrl %}{{ post.url | url | absoluteUrl(metadata.url) }}{% endset -%}
        {%- if post.data.webmentionTarget -%}{
            "date" : "{{ post.date  }}",
            "source": "{{ absolutePostUrl }}",
            "target": "{{ post.data.webmentionTarget }}"
        }{%- if not loop.last -%},{% endif  %}
        {% endif -%}
    {% endfor %}
{% endset -%}
[
{{ webmentionsToSend | safe }}
]
