---json
{
    "permalink" : "/feeds/webmentions.json",
    "eleventyExcludeFromCollections" : true,
    "metadata" : {
        "url": "https://vincentp.me/"
    }
}
---
{%- set webmentionsToSend -%}
    {%- for post in collections.webmention | lastly(5)  -%}
        {%- set absolutePostUrl %}{{ post.url | url | absoluteUrl(metadata.url) }}{% endset -%}
       {%- if post.data.webmentionTarget -%}
       {%- if not loop.first -%},{% endif  %}{
            "date" : "{{ post.data.date  }}",
            "source": "{{ absolutePostUrl }}",
            "target": "{{ post.data.webmentionTarget }}"
        }
        {% endif -%}
    {% endfor %}
{% endset -%}
[
{{ webmentionsToSend | safe }}
]
