<article class="h-entry ba b-pale-grey br-5 pa5 mb5">
    <div class="e-content">
        <h2 class="p-name ma0 pa0"><a href="{{ post.url }}" class="rm-underline red f5 overflow-w-bw" title="{{ post.data.title }}">{{ post.data.title }}</a></h2>
        <p class="p-summary mb5">{{ post.data.summary}}</p>
     </div>
    {% include "lifestream/published.njk" %}
</article>
