<article class="h-entry ba b-pale-grey br-5 pa5 mb5 overflow-hidden">
    <div class="e-content" data-type="blog">{{post.templateContent | safe}}</div>
    {% include "lifestream/published.njk" %}
</article>
