<article class="h-entry ba b-pale-grey br-5 mb5 relative">
    <div class="pa5 absolute-ns bg-white-t w-100 brt-5">
        <div class="e-content  f5 ma0 pa0">{{post.templateContent | safe}}</div>
    </div>

    {% if post.data.photo1Url %}<img src="/{{post.data.photo1Url}}" class="u-photo db w-100 br-5" alt="{{post.data.photo1Alt}}"/>{% endif %}
    <div class="absolute-ns bottom-0  pa5 left-0 bg-white-t w-100 brb-5">
        {% include "lifestream/published.njk" %}
    </div>
</article>
