---json
{
    "permalink" : "/feeds/indieweb/webmentions.json",
    "eleventyExcludeFromCollections" : true,
    "metadata" : {
        "url": "https://vincentp.me/"
    }
}
---
{%- set lastpublished -%}{{pubdate.time | dateToISO }}{% endset -%}
{%- set webmentionsToSend -%}[
    {%- for post in collections.lifestream | reverse -%}
        {%- set absolutePostUrl %}{{ post.url | url | absoluteUrl(metadata.url) }}{% endset -%}
        {%- set postTime -%}{{ post.data.date | dateToISO }}{% endset -%}
        {%- if postTime > lastpublished -%}
        {%- if post.data.webmentionTarget -%}{%- if loop.first -%},{%- endif -%}{
            "source": "{{ absolutePostUrl }}",
            "target": "{{ post.data.webmentionTarget }}",
            "postTime": "{{ postTime }}",
            "publishTime": "{{ lastpublished }}"
        }
        {%- endif -%}
        {%- endif -%}
    {%- endfor -%}
]
{% endset -%}
{
    "published" : "{{lastpublished}}",
    "webmentions" :{{ webmentionsToSend | safe }}
}
