<!DOCTYPE html>
<html lang="en">
    <head>
        {% include meta.html %}
    </head>

    <body itemscope itemtype="http://schema.org/WebPage" class="ma0 pa0">
        <div class="h-entry">
            <header>
                {% include hcard.html %}
                {% include pageTitle.html %}
            </header>

            <main class="center">
                <article itemscope itemprop="about">
                    <div class="e-content  dg center mw-site grid-1-col-short pa2">
                        {{content}}
                    </div>
                </article>
            </main>
        </div>
        {% include footer.html %}
    </body>
</html>
