<!DOCTYPE html>
<html lang="en">
    <head>
        {% include meta.html %}
    </head>

    <body itemscope itemtype="http://schema.org/WebPage">
        {% include header.html %}

        <main>
            <h1>{{ page.title}}</h1>
            {% for post in site.posts %}
                {% unless post.next %}
                    <time itemprop="dateCreated" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: '%b %Y' }}</time>
                {% else %}
                    {% capture year %}{{ post.date | date: '%Y %b' }}{% endcapture %}
                    {% capture nyear %}{{ post.next.date | date: '%Y %b' }}{% endcapture %}
                    {% if year != nyear %}
                        <time itemprop="dateCreated" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: '%b %Y' }} </time>
                    {% endif %}
                {% endunless %}

                <article itemscope itemtype="http://schema.org/Blog" class="h-entry recent-post">
                    <h3><a href="{{site.url}}{{ post.url }}">{{ post.title }}</a></h3>
                     <div aria-hidden="true">{% include dateTime.html %}</div>
                    <p class="p-summary">{{ post.summary }}</p>
                </article>
            {% endfor %}
        </main>

        {% include companyInfo.html %}
        {% include footer.html %}
    </body>
</html>
