<!DOCTYPE html>
<html lang="en">
<head>
    {% include meta.html %}
</head>

<body class="ma0 pa0">
    <div>
        {% include navigation.html %}
        {% include hcard.html %}
             <main class="h-feed" id="content">
                <div class="dg layout-grid center">
                    {% include pageTitle.html %}
                    {% unless page.type == 'Articles'  or  page.type == 'Notes' %}
                        {% include lifestream/filters.html %}
                    {% endunless %}

                    {% case page.type %}
                        {% when 'Notes' %}
                            {% for post in paginator.posts %}
                                {% include category/notes.html %}
                            {% endfor %}
                        {% when 'Articles' %}
                            {% for post in paginator.posts %}
                                {% include category/articles.html %}
                            {% endfor %}
                        {% when 'Photos' %}
                            {% for post in paginator.posts %}
                                {% include category/photos.html %}
                            {% endfor %}
                        {% when 'Checkins' %}
                            {% for post in paginator.posts %}
                                {% include category/checkins.html %}
                            {% endfor %}
                        {% when 'Links' %}
                            {% for post in paginator.posts %}
                                {% include category/links.html %}
                            {% endfor %}
                        {% when 'Favourites' %}
                            {% for post in paginator.posts %}
                                {% include category/favourites.html %}
                            {% endfor %}
                        {% when 'Replies' %}
                            {% for post in paginator.posts %}
                                {% include category/replies.html %}
                            {% endfor %}
                         {% when 'Rsvp' %}
                            {% for post in paginator.posts %}
                                {% include category/rsvp.html %}
                            {% endfor %}
                    {% endcase %}

                    {% include pagination.html %}
                </div>
            </main>
    </div>
    {% include footer.html %}
</body>
</html>
