<!DOCTYPE html>
<html lang="en">
    <head>
        {% include meta.html %}
    </head>

    <body itemscope itemtype="http://schema.org/WebPage">
        {% include header.html %}

        <main>
            <article>
            <h1>{{ page.title}}</h1>
            <div class="article-list">
                <ul>
                {% if page.type == 'Articles' %}
                    {% for post in site.categories.Articles %}
                        <li><a href="{{ post.url }}" class="smallText">{{ post.title }}</a></li>
                    {% endfor %}
                {% endif %}

                 {% if page.type == 'Notes' %}
                    {% for post in site.categories.Notes %}
                        <li><a href="{{ post.url }}" class="smallText">{{ post.title }}</a></li>
                    {% endfor %}
                {% endif %}
                </ul>
            </div>
            </article>
        </main>
        {% include hire.html %}
        {% include footer.html %}
    </body>
</html>
