<!DOCTYPE html>
<html lang="en">
    <head>
        {% include meta.html %}
    </head>

    <body itemscope itemtype="http://schema.org/WebPage">
        <div class="h-entry">
            <header>
                {% include hcard.html %}
                {% include pageTitle.html %}
            </header>

               <main>
                <div class="e-content">
                    {% if page.type == 'Articles' %} {% assign categoryType=site.categories.Articles %} {% endif %}
                    {% if page.type == 'Tips' %} {% assign categoryType=site.categories.Tips %}  {% endif %}
                    {% if page.type == 'Cybernetics' %} {% assign categoryType=site.categories.Cybernetics %} {% endif %}

                    {% for post in categoryType %}
                       {% include articlePromo.html postType='post' %}
                    {% endfor %}
                </div>
            </main>
        </div>
        {% include footer.html %}
        {% include sw.html %}
        {% include scripts.html %}
    </body>
</html>
