<!DOCTYPE html>
<html lang="en">
    <head>
        {% include meta.html %}
    </head>

    <body itemscope itemtype="http://schema.org/WebPage" class="ma0 pa0">
        <div>
            {% include navigation.html %}
            {% include hcard.html %}

            <main class="h-entry mt-header" id="content">
                <article class="u-checkin h-card layoutGrid center pv5">
                    <div class=" tc">
                        <p class="ma0 pa0 f7 lh-heading">
                            <time itemprop="dateCreated" class="dt-published red" datetime="{{ page.date | date_to_xmlschema }}">
                                {{ page.date | date_to_string: "ordinal" }} <span>at</span> {{ page.date | date: "%H" }}:{{ page.date | date: "%M%P" }}
                            </time>
                        </p>
                        <h1 itemprop="headline" class="p-name ma0 pa0 f4 lh-heading">Checked in at <a href="{{page.foursquare}}" class="u-url p-name" rel="external">{{ page.title }}</a></h1>

                        <!--
                        <p class="grey fw3 f6 italic lh-heading">{{ page.summary }}</p>
                        <p class="grey fw3 f6">Published by <a class="p-author u-url black" href="{{site.url}}" rel="author">{{ site.data.author.name }}</a></p>
                    -->
                    </div>

                    <div class="e-content p-nam">
                        <img src="https://api.mapbox.com/styles/v1/mapbox/streets-v9/static/pin-l-star+c83539({{page.longitude}},{{page.latitude}})/{{page.longitude}},{{page.latitude}},13,0/600x300@2x?access_token=pk.eyJ1IjoidnBpY2tlcmluZyIsImEiOiJjamo1ZWNpbmwwYW1wM3FxaHZ5cHR6N3g3In0.hhrPnSY0r_9fu5QKlhqRHw&logo=false" alt="Mapbox Map of {{page.longitude}},{{page.latitude}}" class="w-100">
                        &copy; <a href='https://www.mapbox.com/map-feedback/'>Mapbox</a> &copy; <a href='https://www.openstreetmap.org/copyright'>OpenStreetMap contributors</a>

                        {% if page.photo  != ''%}
                            <figure>
                                <figcaption>{{ content }}</figcaption>
                                <img src="{{page.photo}} " width="612" alt="{{page.name}}"/>
                            </figure>
                        {% else %}
                            {{ content }}
                        {% endif %}

                        <div class="p-location h-adr">
                            {% if page.locality != '' %}<span class="p-locality">{{page.locality}}</span>,{% endif %}
                            {% if page.region  != '' %}<span class="p-region">{{page.region}}</span>,{% endif %}
                            {% if page.country  != '' %}<span class="p-country">{{page.country}}</span>{% endif %}
                            <data class="p-latitude" value="{{page.latitude}}"></data>
                            <data class="p-longitude" value="{{page.longitude}}"></data>
                            {{comment.data.swarm_coins}}
                        </div>

                        <div>
                            <p><a href="{{page.syndication}}" rel="external"><svg width="100" height="150" viewBox="0 0 100 150" xmlns="http://www.w3.org/2000/svg"><title>location</title><path d="M50 0C23.762 0 0 21.269 0 47.513 0 73.75 21.681 105.075 50 150c28.319-44.925 50-76.25 50-102.487C100 21.269 76.244 0 50 0zm0 68.75c-10.356 0-18.75-8.394-18.75-18.75S39.644 31.25 50 31.25 68.75 39.644 68.75 50 60.356 68.75 50 68.75z"/></svg></a></p>
                            <span class="coins"></span>
                        </div>

                        {% assign comments = site.data.webmention.links %}
                        {% if site.webmentionTestUrl == false %}
                            {% assign thisUrl =  page.url | absolute_url %}
                        {% else %}
                            {% assign thisUrl =  "https://vincentp.me" | append: page.url %}
                        {% endif %}

                         <div class="center pb5">
                           {% include webmentions/swarmReplies.html %}
                        </div>
                </article>
            </main>
        </div>
        {% include footer.html %}
    </body>
</html>
