<!DOCTYPE html>
<html lang="en">
    <head>
        {% include meta.html %}
    </head>

    <body itemscope itemtype="http://schema.org/WebPage" class="ma0 pa0">
        <div>
            {% include menuTrigger.html %}
            {% include hcard.html %}

            <main class="h-entry mt-header">
                <article class="u-checkin h-card layoutGrid center pv5">
                    <div class=" tc">
                        <p class="ma0 pa0 f7 lh-heading">
                            <time itemprop="dateCreated" class="dt-published red" datetime="{{ page.date | date_to_xmlschema }}">
                                {{ page.date | date_to_string: "ordinal" }} <span>at</span> {{ page.date | date: "%H" }}:{{ page.date | date: "%M%P" }}
                            </time>
                        </p>
                        <h1 itemprop="headline" class="p-name ma0 pa0 f4 lh-heading">Checked in at <a href="{{page.foursquare}}" class="u-url p-name" rel="external">{{ page.title }}</a></h1>

                        <!--
                        <p class="grey fw3 f6 italic lh-heading">{{ page.summary }}</p>
                        <p class="grey fw3 f6">Published by <a class="p-author u-url black" href="{{site.url}}" rel="author">{{ site.data.author.name }}</a></p>
                    -->
                    </div>

                    <div class="e-content p-nam">
                       {{ content }}
                    </div>
                    {% if page.photo %}
                    <div>
                       <img src="{{page.photo}}" />
                    </div>
                    {% endif %}

                    <div class="p-location h-adr">
                        <span class="p-locality">{{page.locality}}</span>,
                        <span class="p-region">{{page.region}}</span>,
                        <span class="p-country">{{page.country}}</span>
                         <data class="p-latitude" value="{{page.latitude}}"></data>
                        <data class="p-longitude" value="{{page.longitude}}"></data>
                    </div>

                    <div>
                        <p><a href="{{page.syndication}}" rel="external">swarm icon here</a></p>
                        <span class="coins"></span>
                    </div>

                    {% assign comments = site.data.webmention.links %}
                    {% if site.webmentionTestUrl == false %}
                        {% assign thisUrl =  page.url | absolute_url %}
                    {% else %}
                        {% assign thisUrl =  "https://vincentp.me" | append: page.url %}
                    {% endif %}

                    {{thisUrl}}
                     <div class="layoutGrid center pb5">
                       {% include webmentions/swarmReplies.html %}
                    </div>

                        <p>Imported using <a href="ownyourswarm.p3k.io" rel="external">ownyourswarm.p3k.io</a></p>
                </article>
            </main>
        </div>
        {% include footer.html %}
    </body>
</html>
