<!DOCTYPE html>
<html lang="en">
    <head>
        {% include meta.html %}
    </head>

    <body itemscope itemtype="http://schema.org/WebPage" class="ma0 pa0">
        <header class="bg-black white">
            {% include hcard.html %}
            {% include pageTitle.html %}
        </header>

          <main>
            <article itemscope itemtype="http://schema.org/Blog" class="h-entry">
                <div class="e-content  dg center mw-site grid-1-col-short pa2">
                    <ul>
                    {% if page.type == 'Cybernetics' %}
                        {% for post in site.categories.Cybernetics %}
                        <li><a href="{{ post.url }}">{{ post.title }}</a></li>
                        {% endfor %}
                    {% endif %}
                    </ul>
            </article>
        </main>
        {% include footer.html %}
        {% include sw.html %}
    </body>
</html>
