<!DOCTYPE html>
<html lang="en">
<head>
    {% include meta.html %}
</head>

<body itemscope itemtype="http://schema.org/WebPage">
    <div class="h-entry">
            <header>
            {% include hcard.html %}
                <h1>Page Not Found</h1>
                <p>{{page.subtitle}}</p>
        </header>

        <main class="center">
            <article itemscope itemtype="http://schema.org/Blog">
                <div class="e-content">
                    {{content}}
                </div>
            </article>
        </main>
    </div>
    {% include footer.html %}
    {% include sw.html %}
    {% include scripts.html %}
</body>
</html>
