<!DOCTYPE html>
<html lang="en">
    <head>
        {% include meta.html %}
    </head>

    <body itemscope itemtype="http://schema.org/WebPage">
        <header class="bg-black white">
            {% include hcard.html %}
            {% include pageTitle.html %}
        </header>

         <main class="center">
            <article itemscope itemtype="http://schema.org/Blog">
                {{content}}
            </article>
        </main>
        {% include footer.html %}
        {% include sw.html %}
    </body>
</html>
