<!DOCTYPE html>
<html lang="en">
<head>
    {% include meta.html %}
</head>

<body class="ma0 pa0">
    <div>
        {% include navigation.html %}
        <div class="layoutGrid center">
            <main id="content">
                <article class="h-entry">
                    <div class="mb5 mt-header">
                        <h1  class="p-name mb5 lh-heading">{{ page.title }}</h1>
                        {% include author.html %}
                    </div>

                        <div class="ma0 mb7 pa0">
                            <img src="{{page.photo}}" class="u-photo w-100" alt="{{page.name}}"/>
                            <p class="mt5 mb5 tl e-content">{{ content }}</p>
                        </div>

                        <p class="f7">Photo via <a href="https://ownyourgram.com" rel="external" >https://ownyourgram.com</a></p>
                        <p class="f7 p-author">Original Post <a href="{{page.syndication}}"  rel="external" class="u-syndication">{{page.syndication}}</a></p>

                        {% include tagging.html %}

                        <div class="pb5">
                            {% include webmentionForm.html %}
                            {% include webmentions.html %}
                        </div>
                </article>
            </main>
        </div>
    </div>
    {% include footer.html %}
</body>
</html>
