<!DOCTYPE html>
<html lang="en">
<head>
    {% include meta.html %}
</head>

<body class="ma0 pa0">
    <div>
        {% include navigation.html %}
        <div class="dg layout-grid center">
            <main id="content">
                <article class="h-entry">
                    <div class="mb5 mt5">
                        <h1 class="p-name ma0 pa0 f3 f1-ns lh-heading dn">Note for {{ page.date | date_to_string: "ordinal" }} at {{ page.date | date: "%H" }}:{{ page.date | date: "%M%P" }}</h1>
                        {% include author.html %}
                    </div>
                        <div class="ma0 mb7 pa0">
                            {% if page.photo1_url %}<img src="{{site.url}}/{{page.photo1_url}}" class="u-photo w-100" alt="{{page.photo1_alt}}"/>{% endif %}
                            {% if page.photo2_url %}<img src="{{site.url}}/{{page.photo2_url}}" class="u-photo w-100" alt="{{page.photo2_alt}}"/>{% endif %}
                            {% if page.photo3_url %}<img src="{{site.url}}/{{page.photo3_url}}" class="u-photo w-100" alt="{{page.photo3_alt}}"/>{% endif %}
                            {% if page.photo4_url %}<img src="{{site.url}}/{{page.photo4_url}}" class="u-photo w-100" alt="{{page.photo4_alt}}"/>{% endif %}
                            {% if page.photo5_url %}<img src="{{site.url}}/{{page.photo5_url}}" class="u-photo w-100" alt="{{page.photo5_alt}}"/>{% endif %}
                            <p class="mt5 mb5 tl e-content">{{ content }}</p>
                        </div>

                        {% include tagging.html %}

                        <div class="pb5">
                            {% include webmentions.html %}
                        </div>
                </article>
            </main>
        </div>
    </div>
    {% include footer.html %}
</body>
</html>
