<!DOCTYPE html>
<html lang="en">
    <head>
        {% include meta.html %}
    </head>

    <body itemscope itemtype="http://schema.org/WebPage" class="ma0 pa0">
        <div>
            {% include menuTrigger.html %}
            {% include hcard.html %}

            <div class="h-entry mt-header">
                <div class="layoutGrid center pv5 tc">
                    <p class="ma0 pa0 f7 lh-heading">
                        <time itemprop="dateCreated" class="dt-published red" datetime="{{ page.date | date_to_xmlschema }}">
                            {{ page.date | date_to_string: "ordinal" }} <span>at</span> {{ page.date | date: "%H" }}:{{ page.date | date: "%M%P" }}
                        </time>
                    </p>
                    <h1 itemprop="headline" class="p-name ma0 pa0 f1 lh-heading">{{ page.title }}</h1>
                    <p class="grey fw3 f6 italic lh-heading">{{ page.summary }}</p>
                    <p class="grey fw3 f6">Published by <a class="p-author u-url black" href="{{site.url}}" rel="author">{{ site.data.author.name }}</a></p>
                </div>

                <main>
                    <article itemscope itemtype="http://schema.org/Blog">
                        <div class="e-content layoutGrid center"  data-type="blog">
                            {{ content }}

                            {% if page.modified %}
                                <time class="dt-published red f7"  datetime="{{ page.date | date_to_xmlschema }}" title="Page Modified" >{{ page.modified | date_to_string: "ordinal" }} at <span class="dt-updated f7">{{ page.modified | date: "%H" }}:{{ page.modified | date: "%M%P" }}</span></time>
                                <p class="f7"> {{ page.modifiedReason }}.</p>
                            {% endif %}

                            <div class="db grey fw3 f6 pv5 ma0">
                                {% for tag in page.tags %}
                                    <a href="{{site.url}}/tags/{{tag}}" title="read more articles tagged with {{tag}}" class="p-category bg-red white pa7 br-fixed-2 rm-underline hover-red f7">{{tag}}</a>
                                {% endfor %}
                            </div>
                        </div>
                    </article>
                    {% include recommended.html %}

                    {% assign comments = site.data.webmention.links %}
                    {% if site.webmentionTestUrl == false %}
                        {% assign thisUrl =  page.url | absolute_url %}
                    {% else %}
                        {% assign thisUrl =  "https://vincentp.me" | append: page.url %}
                    {% endif %}

                    <div class="layoutGrid center pb5">
                        {% include webmentions/likes.html %}
                        {% include webmentions/reposts.html %}
                        {% include webmentions/replies.html %}
                    </div>
                </main>
            </div>
        </div>
        {% include footer.html %}
    </body>
</html>
