<!DOCTYPE html>
<html lang="en">
    <head>
        {% include meta.html %}
    </head>

    <body itemscope itemtype="http://schema.org/WebPage" class="ma0 pa0">
        <div>
            {% include menuTrigger.html %}
            {% include hcard.html %}

            <div class="h-entry mt-header">
                <header class="layoutGrid center pv2 tc">
                    <p class="ma0 pa0 f7">
                        <time itemprop="dateCreated" class="dt-published red" datetime="{{ page.date | date_to_xmlschema }}">
                            {{ page.date | date_to_string: "ordinal" }} <span>at</span> {{ page.date | date: "%H" }}:{{ page.date | date: "%M%P" }}
                        </time>
                    </p>
                    <h1 itemprop="headline" class="p-name ma0 pa0 f1 lh-heading">{{ page.title }}</h1>
                    <p class="grey fw3 f6 italic">{{ page.summary }}</p>
                    <p class="grey fw3 f6 ">Published by <a class="p-author u-url black" href="{{site.url}}" rel="author">{{ site.data.author.name }}</a></p>
                </header>

                <main>
                    <article itemscope itemtype="http://schema.org/Blog">
                        <h2 class="dn">{{page.summary}}</h2>
                        <div class="e-content layoutGrid center">
                            {{ content }}
                            {% if page.modified %}
                                <p><span class="dt-updated"><strong>Updated <abbr class="value" title=" {{ page.modified }}">15-03-2017</abbr></strong>:  {{ page.modifiedReason }}.</span></p>
                            {% endif %}

                            <div class="db grey fw3 f6 b-dashed bt b-light-grey pv2 ma0">
                                {% for tag in page.tags %}
                                    <a href="{{site.url}}/tags/{{tag}}" title="read more articles tagged with {{tag}}" class="bg-red white pa1 br-fixed-2 rm-underline hover-red f7">{{tag}}</a>
                                {% endfor %}
                            </div>
                        </div>
                    </article>
                </main>
            </div>
        </div>
        {% include footer.html %}
    </body>
</html>
