<!DOCTYPE html>
<html lang="en">
    <head>
        {% include meta.html %}
    </head>

    <body class="ma0 pa0">
        <div>
            {% include navigation.html %}

            <div class="dg layout-grid center">
                <main id="content">
                    {% include hcard.html %}
                    <article class="h-entry ba b-pale-grey br-5 pa5 mb5">
                         <div class="e-content">
                            <div class="mb5">
                                <h1 class="p-name f5 red ma0 pa0 mb5">{{ page.title }}</h1>
                                {% include author.html %}
                                {% include audience.html %}
                            </div>

                            {{ content }}
                            <p class="f7 mb5">In response to: <a class="u-in-reply-to" href="{{page.target}}" rel="external"  title="Vincent replied to {{page.target}}">{{page.target}}</a></p>
                            {% if page.modified %}
                                <time class="dt-published red f7"  datetime="{{ page.date | date_to_xmlschema }}" title="Page Modified" >{{ page.modified | date_to_string: "ordinal" }} at <span class="dt-updated f7">{{ page.modified | date: "%H" }}:{{ page.modified | date: "%M%P" }}</span></time>
                                <p class="f7"> {{ page.modifiedReason }}.</p>
                            {% endif %}
                        </div>
                        {% include tagging.html %}
                        <div class="pb5">{% include webmentions.html %}</div>
                    </article>
                </main>
            </div>
        </div>
        {% include footer.html %}
    </body>
</html>
