<!DOCTYPE html>
<html lang="en">
<head>
    {% include meta.html %}
</head>

<body class="ma0 pa0">
    <div>
        {% include navigation.html %}
        {% include hcard.html %}

            <div class="h-entry">
                <main id="content">
                    <div class="e-content layoutGrid center">
                        <h1 class="ma0 mb5 pa0 lh-heading f4 red">Posts Tagged: {{ page.title }}</h1>
                        {% if page.type == 'Checkins' %}{% assign pageType = site.categories.Checkins %}{% endif %}
                        {%  if page.type == 'Notes' %}{% assign pageType = site.categories.Notes %}{% endif %}
                        {%  if page.type == 'Articles' %}{% assign pageType = site.categories.Articles %}{% endif %}
                        {% for post in site.tags[page.tag] %}
                        <article class="h-entry lifestreamGrid">
                            <div class="borderBefore relative {% if forloop.last == true %}mb5{%endif%}">
                                <div class="circle center db relative br-circle  foreground w-20-fixed h-20-fixed center mt--fixed-6 {% if forloop.first == true %}bg-red {% else %} bg-black {% endif%}"></div>
                            </div>
                            <div class="pb5">
                                {% if post.layout == "checkin" %}
                                {% include lifestream/checkin.html %}
                                {% else  if post.layout == "notes"%}
                                {% include lifestream/notes.html %}
                                {% else %}
                                {% include lifestream/article.html %}
                                {% endif %}
                            </div>
                        </article>
                        {% endfor %}
                    </div>
                </main>
            </div>

        </div>
        {% include footer.html %}
    </body>
    </html>
