---
title: Thoughts On Front-End Web Development by Vincent Pickering
meta: A blog about front-end development techniques, HTML, CSS and Javascript.
---
<!DOCTYPE html>
<html lang="en">
<head>
    {% include meta.html %}
</head>

<body itemscope itemtype="http://schema.org/WebPage" class="body-pad">
  <!-- {% include header.html %} -->
    <main class="home-container" role="main">
 <div class="height-one-third">

            <h1 class="special">Vincent Pickering</h1>
            <h2 class="special">UI/UX Consultant</h2>
            <p>behaviour driven design and development</p>
            <p>Next Available: July 2017</p>
        </div>

        <div class="height-two-thirds">
            <div class="icon">
                <div class="box top"></div>
                <div class="grid-row">
                    <div class="box middle-left"></div>
                    <div class="box middle-right"></div>
                </div>
                <div class="box bottom"></div>
            </div>
        </div>


    </main>
    {% include tracking.html %}
</body>
</html>
