<article class="h-entry ba b-pale-grey br-5 pa5 mb5">
    <div class="w-100 brt-5 feed-header-grid">
        <h3 class="p-name f4 ma0 pa0"><a href="{{site.url}}{{ post.url }}" class="rm-underline" title="{{ post.title }}">{{ post.title }}</a></h3>
        <time class="dt-published f7 grey tr" datetime="{{ post.date | date_to_xmlschema }}">
            <a href="{{site.url}}{{ post.url }}" class="u-url rm-underline" title="{{ post.title }}">{{ post.date | date_to_string: "ordinal" }} <span>at</span> {{ post.date | date: "%H" }}:{{ post.date | date: "%M%P" }}</a>
        </time>
    </div>
     <p class="p-summary">{{ post.summary}}</p>
    <div class="db w-100">
        {% include webmentionsBar.html %}
    </div>
</article>
