<article class="h-entry ba b-pale-grey br-5 mb5 relative">
    <div class="pa8 pa5-ns absolute-ns bg-white-t w-100 brt-5">
        <div class="u-checkin h-card">
            <h2 class="ma0 pa0 lh-one"><a href="{{post.foursquare}}" class="u-url red f5 p-name rm-underline">{{post.title}}</a></h2>
                {% if post.region %}
                <small class="p-location h-adr">
                    {% if post.locality != '' %}<span class="p-locality">{{post.locality}}</span>,{% endif %}
                    {% if post.region  != '' %}<span class="p-region">{{post.region}}</span>,{% endif %}
                    {% if post.country  != '' %}<span class="p-country">{{post.country}}</span>{% endif %}
                    <data class="p-latitude" value="{{post.latitude}}"></data>
                    <data class="p-longitude" value="{{post.longitude}}"></data>
                </small>
                {% endif %}
        </div>
        <div class="e-content">{{ post.content }}</div>
    </div>

    {% if post.photo1_url and post.photo1_url != ''%}
        <img src="{{post.photo1_url}}" class="u-photo db w-100 br-5" alt="{{post.photo1_alt}}"/>
    {% else %}
        <img src="https://api.mapbox.com/styles/v1/mapbox/streets-v9/static/pin-l-star+c83539({{post.longitude}},{{post.latitude}})/{{post.longitude}},{{post.latitude}},13,0/600x300@2x?access_token=pk.eyJ1IjoidnBpY2tlcmluZyIsImEiOiJjamo1ZWNpbmwwYW1wM3FxaHZ5cHR6N3g3In0.hhrPnSY0r_9fu5QKlhqRHw&logo=false" alt="Mapbox Map of {{post.longitude}},{{post.latitude}}" class="w-100 u-photo">
        <div class="f7 tr">&copy; <a href='https://www.mapbox.com/map-feedback/'>Mapbox</a> &copy; <a href='https://www.openstreetmap.org/copyright'>OpenStreetMap contributors</a></div>
    {% endif %}

    <div class="absolute-ns bottom-0 pa8 pa5-ns left-0 bg-white-t w-100 brb-5">
        {% include lifestream/webmentions.html %}
        {% include lifestream/published.html %}
    </div>
</article>
