<article class="h-entry ba b-pale-grey br-5 pa5 mb5">
    <div class="e-content feed-header-grid">
        <div>
            <h3 class="p-name f5 ma0 pa0 lh-one">{{post.target}}</h3><a href="{{post.target}}" title="Favourited: {{post.target}}" class="" rel="external">arrow</a>
            <span class=" u-like-of dn">{{post.target}}</span>
        </div>
        <time class="dt-published f7 grey lh-on tr" datetime="{{ post.date | date_to_xmlschema }}">
            <a href="{{site.url}}{{ post.url }}" class="rm-underline u-url" title="{{ post.title }}">{{ post.date | date_to_string: "ordinal" }} <span>at</span> {{ post.date | date: "%H" }}:{{ post.date | date: "%M%P" }}</a>
        </time>
    </div>
    {% include webmentionsBar.html %}
</article>
