<article class="h-entry pb5">
    <h3 class="p-name f5 ma0 pa0 lh-one">{{ post.title}} <a href="{{post.target}}" title="bookmarked from: {{post.target}}" rel="external">svg here</a></h3>
    <time class="dt-published f7 grey lh-one" datetime="{{ post.date | date_to_xmlschema }}">
        <a href="{{site.url}}{{ post.url }}" class="rm-underline" title="{{ post.title }}">{{ post.date | date_to_string: "ordinal" }} <span>at</span> {{ post.date | date: "%H" }}:{{ post.date | date: "%M%P" }}</a>
    </time>
</article>
