@font-face {
  font-family: 'mp-mallory-light';
  src: url(../font/MalloryMP-Light.woff) format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'mp-mallory-light-italic';
  src: url(../font/MalloryMP-LightItalic.woff) format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'mp-mallory-book';
  src: url(../font/MalloryMP-Book.woff) format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'mp-mallory-book-italic';
  src: url(../font/MalloryMP-BookItalic.woff) format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'mp-mallory-medium';
  src: url(../font/MalloryMP-Medium.woff) format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'mp-mallory-medium-italic';
  src: url(../font/MalloryMP-MediumItalic.woff) format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'mp-mallory-bold';
  src: url(../font/MalloryMP-Bold.woff) format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'mp-mallory-bold-italic';
  src: url(../font/MalloryMP-BoldItalic.woff) format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'mp-mallory-black';
  src: url(../font/MalloryMP-Black.woff) format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'mp-mallory-black-italic';
  src: url(../font/MalloryMP-BlackItalic.woff) format("woff");
  font-weight: normal;
  font-style: normal; }

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box; }

html {
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  text-rendering: optimizeLegibility; }

body {
  margin: 0;
  padding: 0; }

html, body, table {
  -webkit-font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 0;
     -moz-font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 0;
          font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 0; }

h1, h2, h3 {
  -webkit-font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 1;
     -moz-font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 1;
          font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 1; }

abbr {
  text-transform: uppercase;
  -webkit-font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "smcp" 1, "c2sc" 1;
     -moz-font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "smcp" 1, "c2sc" 1;
          font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "smcp" 1, "c2sc" 1; }

time {
  -webkit-font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0;
     -moz-font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0;
          font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0; }

pre, kbd, samp, code {
  -webkit-font-feature-settings: "kern" 0, "liga" 0, "calt" 1, "dlig" 0, "pnum" 0, "tnum" 1, "onum" 0, "lnum" 1, "zero" 1;
     -moz-font-feature-settings: "kern" 0, "liga" 0, "calt" 1, "dlig" 0, "pnum" 0, "tnum" 1, "onum" 0, "lnum" 1, "zero" 1;
          font-feature-settings: "kern" 0, "liga" 0, "calt" 1, "dlig" 0, "pnum" 0, "tnum" 1, "onum" 0, "lnum" 1, "zero" 1; }

sup {
  -webkit-font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 0, "sups" 1;
     -moz-font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 0, "sups" 1;
          font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 0, "sups" 1; }

sub {
  -webkit-font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 0, "subs" 1;
     -moz-font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 0, "subs" 1;
          font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 0, "subs" 1; }

cite, em, var, address, dfn {
  font-style: normal; }

pre,
blockquote {
  margin: 0;
  padding: 0; }

figure {
  margin: 0; }

:root {
  font-family: 'mp-mallory-light', sans-serif;
  background-color: white;
  color: #111111;
  font-size: 15px; }

::-moz-selection {
  background-color: #c83539;
  color: white; }

::selection {
  background-color: #c83539;
  color: white; }

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table; }

.clearfix::after {
  clear: both; }

body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap; }

body > * {
  -webkit-box-flex: 1;
  -webkit-flex: 1 100%;
     -moz-box-flex: 1;
      -ms-flex: 1 100%;
          flex: 1 100%;
  max-width: 650px;
  margin: auto; }

footer * {
  font-family: 'mp-mallory-book', Verdana, sans-serif;
  text-transform: uppercase;
  font-size: 10px;
  color: #666666; }

address li {
  float: left;
  list-style: none; }

address li::after {
  content: "/";
  margin: 0 2px 0 2px;
  display: inline-block; }

address li:last-child::after {
  content: none; }

/*
Add Typeset JS. IT Needs to run AFTER Jekyll compile.
Will also need nodemon, to fun jeyklly build.
*/
b,
strong {
  font-family: "mp-mallory-bold", Verdana, sans-serif;
  font-weight: normal; }

i, em {
  font-family: "mp-mallory-light-italic", Verdana, sans-serif;
  font-weight: normal; }

figcaption {
  font-family: "mp-mallory-light-italic", Verdana, sans-serif; }

pre {
  overflow-x: auto; }

sub,
sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

h1, h2, h3, h4, h5, h6 {
  color: #111111; }

p {
  color: #666666;
  line-height: 1.6;
  -webkit-hyphens: none;
     -moz-hyphens: none;
      -ms-hyphens: none;
          hyphens: none;
  -webkit-font-kerning: auto;
     -moz-font-kerning: auto;
          font-kerning: auto; }
