// Normalise - Vincent P - Bespoke.

* {
    box-sizing: border-box;
}

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    padding: 0;
}


// From http://kennethormandy.com/journal/normalize-opentype-css
html, body, table {
    font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 0;
  }

  h1, h2, h3 {
    font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 1;
  }

  abbr {
    text-transform: uppercase;
    font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "smcp" 1, "c2sc" 1;
  }

time {
    font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0;
}

pre, kbd, samp, code {
    font-feature-settings: "kern" 0, "liga" 0, "calt" 1, "dlig" 0, "pnum" 0, "tnum" 1, "onum" 0, "lnum" 1, "zero" 1;
}

sup {
    font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 0, "sups" 1;
  }

sub {
    font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 0, "subs" 1;
   }

//For IE only. meh.
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary,
time {
    display: block;
}

cite, em, var, address, dfn{
    font-style: normal;
}

//Things to reset
pre,
blockquote{
    margin: 0;
    padding: 0;
}

figure{
    margin: 0 0 30px 0;
}

//  root elements
:root {
    // line-height: 1.75;
    font-family: 'mp-mallory-book', sans-serif;
    background-color: brand(white);
    color: brand(black);
    font-size: 16px;
}

::selection {
    background-color: brand(red);
    color: brand(white);
}
