// Normalise - Vincent P - Bespoke.

* {
    box-sizing: border-box;
}

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    padding: 0;
}

//For IE only. meh.
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary,
time {
    display: block;
}

cite, em, var, address, dfn{
    font-style: normal;
}

//Things to reset
pre,
blockquote{
    margin: 0;
    padding: 0;
}

figure{
    margin: 0 0 30px 0;
}

//  root elements
:root {
    line-height: 1.75;
    font-family: 'mp-mallory-book', sans-serif;
    font-size: size(regular);
    background-color: brand(white);
    color: brand(black);
}

::selection {
    background-color: brand(red);
    color: brand(white);
}
